<div class="awards-container">
	{% for i in range(p.award_count("gingerbread", v)) %}
		<div class="fall-snowflake">
			<img loading="lazy" src="{{SITE_FULL_IMAGES}}/assets/events/fistmas/images/awards/gingerbread.webp?x=6" class="animate-spin object-contain" style="width: 40px; height: 40px" alt="animate marsey gingerbread icon">
		</div>
	{% endfor %}

	{% if p.award_count("snow", v) %}
		<script defer src="{{'events/fistmas/js/vendor/snow.js'|asset}}"></script>
	{% endif %}

	{% if p.award_count("frostbite", v) %}
		<div class="frost"></div>
		<link rel="stylesheet" href="{{('events/fistmas/css/frostbite.css') | asset}}">
		<script defer src="{{'events/fistmas/js/frostbite.js' | asset}}"></script>
	{% endif %}
</div>

{% if p.award_count("lights", v) %}
	<link rel="stylesheet" href="{{('events/fistmas/css/lights.css') | asset}}">
{% endif %}

{% if p.award_count("candycane", v) %}
	<link rel="stylesheet" href="{{('events/fistmas/css/candycane.css') | asset}}">
{% endif %}

{% if p.award_count("fireplace", v) %}
	<link rel="stylesheet" href="{{('events/fistmas/css/fireplace.css') | asset}}">
{% endif %}
