FLASK_APP="/rDrama/files/cli:app"
SITE="localhost"
SITE_NAME="rDrama"
SECRET_KEY="blahblahblah"
DATABASE_URL="postgresql://postgres@postgres:5432"
REDIS_URL="redis://redis:6379"
PROXY_URL="http://localhost:18080"
LOG_DIRECTORY="/var/log/rdrama"
SETTINGS_FILENAME="/site_settings.json"
GIPHY_KEY="blahblahblah"
TURNSTILE_SITEKEY="blahblahblah"
TURNSTILE_SECRET="blahblahblah"
YOUTUBE_KEY="blahblahblah"
VAPID_PUBLIC_KEY="blahblahblah"
VAPID_PRIVATE_KEY="blahblahblah"
DONATE_SERVICE="blahblahblah"
DONATE_LINK="https://blahblahblah"
CF_KEY="blahblahblah"
CF_ZONE="blahblahblah"
DEBIAN_FRONTEND="noninteractive"