#awards-container {
	position: absolute;
	overflow: hidden;
	pointer-events: none;
	z-index: 1029;
}

.stackable-container > div {
	position: absolute;
}

.stackable-container div, .stackable-container img, .ricardo {
	animation-iteration-count: infinite !important;
	animation-timing-function: linear !important;
}

.scooter img {
	width: min(7vw, 50px) !important;
}

.emoji-award img {
	width: min(10vw, 60px) !important;
}

.train img {
	width: min(10vw, 80px) !important;
}


.emoji-award:nth-child(even), .emoji-award:nth-child(n+2):nth-child(n+3) img {
	animation-direction: alternate-reverse;
}

@keyframes emojiX {
	100% {transform: translateX(98vw)}
}
@keyframes emojiY {
	100% {transform: translateY(80vh)}
}

.train:nth-child(1), .scooter:nth-child(1) {top:2%}
.train:nth-child(2), .scooter:nth-child(2) {top:27%}
.train:nth-child(3), .scooter:nth-child(3) {top:52%}
.train:nth-child(4), .scooter:nth-child(4) {top:77%}

.train:nth-child(odd) {animation-direction: reverse;}
.train:nth-child(odd) img {transform: scaleX(-1);}

@keyframes train {
	from {transform: translateX(-10vw)}
	to {transform: translateX(110vw)}
}

.scooter:nth-child(even) {animation-direction: reverse;}
.scooter:nth-child(even) img {transform: scaleX(-1);}

.emoji-award {
	animation: emojiX 8s alternate;
}
.emoji-award img {
	animation: emojiY 9s alternate;
}

.train, .scooter {
	animation: train 12s;
}

@media (max-width: 768px) {
	.emoji-award {
		animation: emojiX 6s alternate;
	}
	.emoji-award img {
		animation: emojiY 7s alternate;
	}
	.train, .scooter {
		animation: train 6s;
	}
}

/*confetti*/
.confetti {
	background-image: url(/i/confetti2.webp);
	background-repeat: repeat;
}

/*fireworks*/
.firework img {
	max-width: min(15vw,15rem);
}

/*ricardo*/
.ricardo {
	position: absolute !important;
	overflow: hidden !important;
	bottom: 0;
}
.ricardo img {
	max-height: min(15vw,100px);
}

.ricardo1 {animation: ricardo1Xa 5.8s, ricardo1Xb 11.6s, ricardo1Y 23.2s;}
.ricardo2 {animation: ricardo2 8.5s;}
.ricardo3 {animation: ricardo3 10s;}

@keyframes ricardo1Xa {
	0% {right: -200px}
	50% {right: 200px}
	100% {right: -200px}
}

@keyframes ricardo1Xb {
	0%{left:unset}
	49% {left: unset}
	50% {left: -200px}
	75% {left:200px}
	100% {left: -200px}
}

@keyframes ricardo1Y {
	0% {bottom:20vh}
	24% {bottom: 20vh}
	25% {bottom: 60vh}
	49% {bottom: 60vh}
	50% {bottom: 10vh}
	74% {bottom: 10vh}
	75% {bottom: 50vh}
	99% {bottom: 50vh}
	100% {bottom: 20vh}
}


@keyframes ricardo2 {
	0% { opacity: 1; left: 0; right: unset;}
	18% {opacity: 0; left: 0; right: unset;}
	19% {opacity: 0; left: unset; right: 20vw;}
	20% {opacity: 1; left: unset; right: 20vw;}
	38% {opacity: 0; left: unset; right: 20vw;}
	39% {opacity: 0; left: 20vw; right: unset;}
	40% {opacity: 1; left: 20vw; right: unset;}
	58% {opacity: 0; left: 20vw; right: unset;}
	59% {opacity: 0; left: unset;right: 60vw;}
	60% {opacity: 1; left: unset; right: 60vw;}
	78% {opacity: 0; left: unset; right: 60vw;}
	79% {opacity: 0; left: 80vw; right: unset;}
	80% {opacity: 1; left: 80vw; right: unset;}
	98% {opacity: 0; left: 80vw; right: unset;}
	99% {opacity: 0; left: 0; right: unset;}
	100% {opacity: 1; left: 0; right: unset;}
}

@keyframes ricardo3 {
	50% {transform: translateX(100vw); top: unset; bottom: 0;}
	51% {transform: translateX(100vw) rotate(180deg); top: 0; bottom: unset;}
	100% {transform: translateX(-15vw) rotate(180deg); top: 0; bottom: unset;}
}


.tilt-post {
	transform: rotate(0.3deg);
}
.tilt-post > * {
	padding-left: 3rem !important;
	padding-right: 3rem !important;
}


.tilt-comment-1 {
	transform: rotate(1deg);
}
.tilt-comment-2 {
	transform: rotate(2deg);
}
.tilt-comment-3 {
	transform: rotate(3deg);
}
.tilt-comment-4 {
	transform: rotate(4deg);
}

.rainbow-text:not(a), h1.rainbow-text.post-title a {
	background: repeating-linear-gradient(
		135deg,
		violet,
		rgb(178, 94, 238) 20px,
		lightblue 40px,
		green 60px,
		yellow 80px,
		orange 100px,
		#ff7f7f 120px
	);
	color: transparent !important;
	font-weight: 700 !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	animation: 60s linear 0s infinite move-colors;
}

.gold-text:not(a), h1.gold-text.post-title a {
    --color1: gold;
    --color2: #debd00;
    --color3: #cdae00;
	font-family: open sans,sans-serif !important;
	background: repeating-linear-gradient(
		45deg,
		var(--color1),
		var(--color1) 10px,
		var(--color2) 20px,
		var(--color2) 20px,
		var(--color3) 60px,
		var(--color3) 60px
	);
	color: transparent !important;
	font-weight: 700 !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	animation: 60s linear 0s infinite move-colors;
}

.gold-text img {
	filter: sepia(1) saturate(2)
}

.queen:not(a):not(.ectoplasm), h1.queen.post-title a {
	color: hotpink !important;
	font-weight: 700 !important;
	text-transform: lowercase !important;
}

.sharpen:not(a), h1.sharpen.post-title a {
	color: red !important;
	font-weight: bold !important;
	font-style: italic !important;
}

.sharpen-0:after {
	background: url("/i/sharpen/0.webp?x=6");
}
.sharpen-1:after {
	background: url("/i/sharpen/1.webp?x=6");
}
.sharpen-2:after {
	background: url("/i/sharpen/2.webp?x=6");
}
.sharpen-3:after {
	background: url("/i/sharpen/3.webp?x=6");
}
.sharpen-4:after {
	background: url("/i/sharpen/4.webp?x=6");
}
.sharpen-5:after {
	background: url("/i/sharpen/5.webp?x=6");
}
.sharpen-6:after {
	background: url("/i/sharpen/6.webp?x=6");
}
.sharpen-7:after {
	background: url("/i/sharpen/7.webp?x=6");
}
.sharpen-8:after {
	background: url("/i/sharpen/8.webp?x=6");
}
.sharpen-9:after {
	background: url("/i/sharpen/9.webp?x=6");
}

.rainbow-text:not(a) > p, .gold-text:not(a) > p {
	color: transparent !important;
}

.rainbow-text del, .gold-text del {
	color: var(--black);
	font-weight: 400;
}
