@keyframes bang {
	from {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.click-confetti {
	position: fixed;
	animation: bang 700ms ease-out forwards;
}

.click-confetti > i {
	position: fixed;
	width: 3px;
	height: 8px;
	animation: bang 700ms ease-out forwards;
	opacity: 0;
}
