.tooltip-inner {
	color: #d8d8d8 !important;
	background-color: #313131 !important;
}

lite-youtube, iframe {
	color-scheme: light !important;
}

.gold-text:not(a), h1.gold-text.post-title a, :not(td) > a[href="/h/highrollerclub"]:not(.hole-flair) {
	background: url("/i/animations/gold_gradient.svg");
	background-size: 200% 200%;
}

code {
	color: #f679b2;
}

.dataTables_wrapper .dataTables_length select {
	background-color: black !important;
}
