.tooltip-inner {
	color: #d8d8d8 !important;
	background-color: #313131 !important;
}

lite-youtube, iframe {
	color-scheme: light !important;
}

.gold-text:not(.candycorn):not(.candycane):not(a), .gold-text.post-title a:not(.post-flair), :not(td) > a[href="/h/highrollerclub"]:not(.hole-flair), :not(td) > a[href="/h/announcements"]:not(.hole-flair) {
	background: url("/i/animations/gold_gradient_dark.svg");
	background-size: 200% 200%;
}

code {
	color: #f679b2;
}

.dataTables_wrapper .dataTables_length select {
	background-color: black !important;
}

.author-bitten p {
	color: #a5a5a5 !important;
}

.banned {
	background-color: #960000 !important;
	border-left: 10px solid #960000 !important;
}
.deleted {
	background-color: #4a4a15 !important;
	border-left: 10px solid #4a4a15 !important;
}
.deleted.banned {
	background-color: #964000 !important;
	border-left: 10px solid #964000 !important;
}
