.orgy-top-container {
	display: flex;
}

@media (max-width: 900px) {
	.orgy-top-container {
		flex-flow: column wrap;
	}
	#chat-window {
		max-height: 37vh !important;
	}
}

.rumble-player {
	aspect-ratio: 16/9; 
	max-width: min(70vw,500px) !important; 
	width: 500px;
}

#orgy-file-container {
	width: 75vw;
}

#orgy-file-container > video {
    max-height: 100% !important;
	margin: 0 !important;
}

@media (max-width: 900px) {
	#orgy-file-container {
		width: 100% !important;	
	}
	#orgy-title {
		display: none;
	}
	#orgy-col {
		padding: 0px;
	}
	#orgy-file-container > video {
		height: 100% !important;
		width: 100% !important;
	}
}

#cursormarsey, #cursormarsey-heart {
	display: none;
}

*:not(#orgy-file-container) {
	resize: none !important;
}
