.orgy-top-container {
	display: flex;
	justify-content: space-around;
}

@media all and (max-width: 900px) {
	.orgy-top-container {
		flex-flow: column wrap;
	}
	#chat-window {
		max-height: 37vh !important;
	}
}

.orgy-chat-window-item {
	flex-grow: 2;
	max-width: 25vw;
}

.rumble-player {
	aspect-ratio: 16/9; 
	max-width: min(70vw,500px) !important; 
	width: 500px;
}

#orgy-file-container {
	position: relative;
	width: -webkit-fill-available;
}

#orgy-file-container > video {
    max-height: 100% !important;
	margin: 0 !important;
    height: 98% !important;
    width: 98% !important;
}

@media all and (max-width: 900px) {
	#orgy-file-container {
		width: 100% !important;	
		resize: none !important;
	}
	#orgy-title {
		display: none;
	}
	#orgy-col {
		padding: 0px;
	}
	#orgy-file-container > video {
		height: 100% !important;
		width: 100% !important;
	}
	.orgy-chat-window-item {
		max-width: 100%
	}
}


#cursormarsey, #cursormarsey-heart {
	display: none;
}

body > .container {
	padding: 0 !important;
	margin: 0 !important;
	margin-right: 0 !important;
}
