.orgy-top-container {
	display: flex;
	justify-content: space-around;
}

@media all and (max-width: 900px) {
	.orgy-top-container {
		flex-flow: column wrap;
	}
	.orgy-chat-window-item {
		max-height: 80% !important;
		height: 80% !important;
	}
}
@media all and (min-width: 900px) {
	.orgy-chat-window-item {
		max-width: 30vw;
	}
}

.orgy-chat-window-item {
	flex-grow: 2;
}

.rumble-player {
	aspect-ratio: 16/9; 
	max-width: min(70vw,500px) !important; 
	width: 500px;
}

#orgy-file-container {
	position: relative;
	width: -webkit-fill-available;
}
@media all and (max-width: 900px) {
	#orgy-file-container {
		width: 100% !important;	
	}
}

#orgy-file-container > video {
    max-height: 100% !important;
	margin: 0 !important;
    height: 98% !important;
    width: 98% !important;
}

#cursormarsey, #cursormarsey-heart {
	display: none;
}

body > .container {
	padding: 0 !important;
	margin: 0 !important;
	margin-right: 0 !important;
}
