{% if not (SITE_NAME == 'WPD' and not v) and (not v or v.event_music) and not (hole and hole.name == 'music') and not (u and u.song) and not (IS_HOMOWEEN() and p and p.award_count("haunt", v)) and not (p and p.embed and p.domain == 'twitter.com') %}
	{% set path = "assets/events/" ~ IS_EVENT() ~ "/music" %}
	{% set song = SITE_FULL ~ "/" ~ path ~ "/" ~ listdir('files/'~path)|random() ~ '?x=45' %}
	<audio id="event-song" hidden preload="none" src="{{song}}" loop></audio>
	<script defer src="{{'events/shared/js/music.js' | asset}}"></script>
{% endif %}
