{% extends "default.html" %}
{% block pagetitle %}Hole List{% endblock %}
{% block content %}
<h5 class="mt-3 mb-1">Hole List</h5>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Posts</th>
				<th>Followers</th>
				<th>Blockers</th>
				<th>Created on</th>
			</tr>
		</thead>

		{% for hole, count in subs %}
			<tr>
				<td>{{loop.index}}</td>
				<td><a href="/h/{{hole}}">{{hole}} {% if hole.name in v.hole_blocks %}<span class="text-danger">[blocked, visit it to unblock it]</span>{% endif %}</a></td>
				<td><a href="/h/{{hole}}">{{count}}</a></td>
				<td><a href="/h/{{hole}}/followers">{{hole.follow_num}}</a></td>
				{% if hole.stealth %}
					<td>{{total_users - hole.join_num}}</td>
				{% else %}
					<td><a href="/h/{{hole}}/blockers">{{hole.block_num}}</a></td>
				{% endif %}
				<td data-time="{{hole.created_utc}}"></td>
			</tr>
		{% endfor %}
	</table>
</div>



{% endblock %}
