:root {
	--secondary: #000000;
	--dark: #000000;
	--muted: #e6faff;
	--gray: #000000;
	--white: #e6faff;
	--black: #e6faff;
	--background: 0, 0, 0;
	--gray-100: #e6faff;
	--gray-200: #e6faff;
	--gray-300: #383838;
	--gray-400: #000000;
	--gray-500: #000000;
	--gray-600: #000000;
	--gray-700: #000000;
	--gray-800: #000000;
	--gray-900: #000000;
}

.candycane, h1.candycane.post-title a {
	--color1: #ff4e53;
	--color2: #1cc19a;
}
