.unread {
	background: #00000022 !important;
}
.deleted {
	background-color: #bebe28 !important;
	border-left: 10px solid #bebe28 !important;
}
.banned {
	background-color: #ff7e7e !important;
	border-left: 10px solid #ff7e7e !important;
}
blockquote {
	background-color: #bbbbbb;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
	background-color: #becad5;
}
