{% extends "default.html" %}
{% block pagetitle %}Users blocked by @{{u.username}}{% endblock %}
{% block content %}
	<h5 class="my-3">Users blocked by @{{u.username}} ({{total | commas}} user{{macros.plural(total)}})</h5>

	<div class="overflow-x-auto mt-1">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					{% if v.id == u.id %}
						<th class="disable-sort-click"></th>
					{% endif %}
					<th class="disable-sort-click">Blocking since</th>
					{% if FEATURES['BLOCK_MUTE_EXILE_EXPIRY'] %}
						<th class="disable-sort-click">Expires on</td>
					{% endif %}
				</tr>
			</thead>
			<tbody id="blockers-table">
			{% for block, user in users %}
				<tr>
					<td>{% include "user_in_table.html" %}</td>
					{% if v.id == u.id %}
						<td>
							<button type="button" class="btn btn-primary" data-nonce="{{g.nonce}}" data-onclick="unblock_user(this, '/unblock_user?username={{user.username}}&formkey={{v|formkey}}')">Unblock</button>
						</td>
					{% endif %}
					<td data-time="{{block.created_utc}}"></td>
					{% if FEATURES['BLOCK_MUTE_EXILE_EXPIRY'] %}
						<td data-time="{{block.created_utc+2678400}}"></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	{% if v.id == u.id %}
		<script defer src="{{'js/userpage_blocking.js' | asset}}"></script>
	{% endif %}
{% endblock %}

{% block pagenav %}
	{{macros.pagination()}}
{% endblock %}
