{% extends "default.html" %}
{% block pagetitle %}@{{u.username}}'s Chats{% endblock %}

{% block content %}
	<h5 class="pt-4 pl-2 pb-3">@{{u.username}}'s Chats ({{total | commas}} chat{{macros.plural(total)}})</h5>
	<div class="overflow-x-auto">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Last Spoke on</th>
				</tr>
			</thead>
			{% for obj, chat in chats %}
				{% set is_owner = (u.id == chat.owner_id) %}
				<tr>
					<td>
						<span class="d-inline-block mx-1 {% if u.id == chat.owner_id %}font-weight-bolder{% endif %}" {% if is_owner %}data-bs-toggle="tooltip" data-bs-placement="bottom" title="Owner"{% endif %}>
							<a href="/chat/{{chat.id}}">{{chat.name if chat.name else 'Unnamed Chat'}}</a>
							{% if is_owner %}
								<img class="ml-1 chat-mod" data-bs-toggle="tooltip" alt="Owner" title="Owner" src="{{SITE_FULL_IMAGES}}/e/marseykingretard.webp">
							{% endif %}
						</span>
					</td>
					{% if obj.id %} {# means its a message #}
						<td data-time="{{obj.created_utc}}"></td>
					{% else %}
						<td>Never</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}