{% extends "userpage/userpage.html" %}
{% block userpage_content %}
	<div class="row no-gutters {% if listing %}mt-md-3{% elif not listing %}my-md-3{% endif %} userpage-comments">
		<div class="col">
			{% if listing %}
				<div class="posts p-3 p-md-0">
					{% with comments=listing %}
						{% include "comments.html" %}
					{% endwith %}
				</div>
			{% else %}
				<div class="text-center px-3 my-3">
					{% if '/saved/' in request.path %}
						{% set text = "You haven't saved any comments yet!" %}
					{% elif v and v.id == u.id %}
						{% set text = "You haven't made any comments yet!" %}
					{% else %}
						{% set text = '@' ~ u.username ~ " hasn't made any comments yet!" %}
					{% endif %}
									
					{{macros.ghost_box(text, '', 1)}}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
