{% set path = request.path.replace("/@" + u.username, '') %}
<div class="row no-gutters">
	<div class="col">
		<div class="flex-row box-shadow-bottom d-flex justify-content-center justify-content-md-between align-items-center">
			<ul class="nav settings-nav" id="content">
				<li class="nav-item mr-1">
					<a class="nav-link{% if path == '' or path.startswith('/wall/comment/') %} active{% endif %}" href="/@{{u.username}}">Wall</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if path == '/posts' %} active{% endif %}" href="/@{{u.username}}/posts">Posts <span class="count">({{u.real_post_count(v)|commas}})</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if path == '/comments' %} active{% endif %}" href="/@{{u.username}}/comments">Comments <span class="count">({{u.real_comment_count(v)|commas}})</span></a>
				</li>
				{% if u.id == v.id %}
					<li class="nav-item">
						<a class="nav-link{% if path == '/saved/posts' %} active{% endif %}" href="/@{{u.username}}/saved/posts">Saved Posts <span class="count">({{u.saved_count|commas}})</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if path == '/saved/comments' %} active{% endif %}" href="/@{{u.username}}/saved/comments">Saved Comments <span class="count">({{u.saved_comment_count|commas}})</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if path == '/subscribed/posts' %} active{% endif %}" href="/@{{u.username}}/subscribed/posts">Subscribed <span class="count">({{u.subscribed_count|commas}})</span></a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% if not private and "/saved/" not in request.path and "/subscribed/" not in request.path and path != '' and '/wall/comment/' not in path %}
	<div class="d-flex justify-content-between align-items-center" style="padding-top:10px">
		<div class="d-flex align-items-center">
			{{- macros.time_filter_buttons() -}}
			{% if "/posts" in request.path %}
				{{- macros.sorting_buttons(POST_SORTS, True) -}}
			{% else %}
				{{- macros.sorting_buttons(COMMENT_SORTS, True) -}}
			{% endif %}
		</div>
	</div>

	{% set kind = request.path.split('/')[-1] %}
	<form id="searchform" class="form-inline search flex-nowrap mt-3 mb-4" action="/search/{{kind}}" method="get">
		<input hidden name="author" value="{{u.username}}">
		<input autocomplete="off" class="form-control w-100" type="search" placeholder="Search user's {{kind}}" name="q">
		<span class="input-group-append">
			<span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem">
				<button type="submit" class="fas fa-search text-muted"></button>
			</span>
		</span>
	</form>
{% endif %}
