{% extends "default.html" %}
{% block pagetitle %}@{{u.username}}'s notification muters{% endblock %}
{% block content %}
	<h5 class="my-3">@{{u.username}}'s notification muters ({{total | commas}} user{{macros.plural(total)}})</h5>
	<div class="overflow-x-auto mt-1">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th class="disable-sort-click">Muting notifications since</td>
					<th class="disable-sort-click">Expires on</th>
				</tr>
			</thead>
			<tbody id="muters-table">
			{% for mute, user in users %}
				<tr>
					<td>{% include "user_in_table.html" %}</td>
					<td data-time="{{mute.created_utc}}"></td>
					<td data-time="{{mute.created_utc+2592000}}"></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block pagenav %}
	{{macros.pagination()}}
{% endblock %}
