{% extends "default.html" %}
{% block pagetitle %}@{{u.username}}'s muters{% endblock %}
{% block content %}
<h5 class="my-3">@{{u.username}}'s muters ({{users|length}} users)</h5>
<div class="overflow-x-auto mt-1"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>Name</th>
		<th class="disable-sort-click">Muting since</td>
	</tr>
</thead>
<tbody id="muters-table">
{% for mute, user in users %}
	<tr>
		<td>{% include "user_in_table.html" %}</td>
		<td data-time="{{mute.created_utc}}"></td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block pagenav %}
{% include "pagination.html" %}
{% endblock %}
