{% extends "default.html" %}
{% block pagetype %}userpage{% endblock %}
{% block pagetitle %}@{{u.username}}'s profile{% endblock %}

{% set userpage = True %}

{% block head_final %}
	{% if u and u.profile_background %}
		<link rel="stylesheet" href="{{('css/transparent.css') | asset}}">
	{% endif %}
	{% if u and (u.profilecss or u.profile_background) and can_see(v, u) and not request.values.get('nocss') and (v.admin_level < PERMS["CSS_DISABLED"] or v.id in (AEVANN_ID, GTIX_ID)) %}
		<link rel="stylesheet" href="/@{{u.username}}/profilecss">
	{% endif %}
{% endblock %}

{% block content %}
	{%- include 'userpage/banner.html' -%}
	{%- include 'userpage/header.html' -%}
	{% block userpage_content required %}{% endblock %}
		
	{% if FEATURES['USERS_PROFILE_SONG'] and u.song %}
		{% if v and v.id == u.id %}
			<div id="v_username" class="d-none">{{v.username}}</div>
		{% else %}
			<div id="u_username" class="d-none">{{u.username}}</div>
		{% endif %}
	{% endif %}

	{% if v %}
		<div id='tax' class="d-none">{% if v.patron or u.patron %}0{% else %}0.03{% endif %}</div>
		<script defer src="{{'js/userpage_v.js' | asset}}"></script>
		<div id="username" class="d-none">{{u.username}}</div>
	{% endif %}

	<script defer src="{{'js/userpage.js' | asset}}"></script>

	{% if can_see(v, u) and u.song %}
		<audio id="profile-song" hidden preload="none" src="/songs/{{u.song}}.mp3" loop></audio>
		<script defer src="{{'js/profile_song.js' | asset}}"></script>
	{% endif %}
{% endblock %}

{% block pagenav %}
	{% if listing %}
		{{macros.pagination()}}
	{% endif %}

	{% if request.path.endswith('/posts') %}
		<script defer src="{{'js/vendor/marked.js' | asset}}"></script>
		<script defer src="{{'js/markdown.js' | asset}}"></script>
	{% endif %}
{% endblock %}

{% block GIFpicker %}{% endblock %}
