{% extends "default.html" %}
{% block pagetitle %}@{{u.username}}'s Profile Views{% endblock %}

{% block content %}
	<h5 class="pt-4 pl-2 pb-3">Users who viewed @{{u.username}}'s profile ({{total}} user{{macros.plural(total)}})</h5>
	<div class="overflow-x-auto">
		<table>
			<thead>
				<tr>
					<th class="disable-sort-click">Last visit</th>
					<th>Name</th>
				</tr>
			</thead>
			{% for view in views %}
				<tr>
					<td>{{view.last_view_string}}</td>
					<td>
						{% with user=view.viewer %}
							{% include "user_in_table.html" %}
						{% endwith %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block pagenav %}
	{{macros.pagination()}}
{% endblock %}
