{% extends "userpage/userpage.html" %}
{% block userpage_content %}
	<div class="userpage-wall">
		{{macros.comment_reply_box(u.fullname, 'replying-to-' + u.fullname, '', 'mb-3 mt-4', '', enable_cancel_button=false)}}

		{% if comment_info %}
			<div class="total mt-1"><a href="/@{{u.username}}">View entire wall <i class="fas fa-long-arrow-right ml-1"></i></a></div>
		{% endif %}

		<div class="row no-gutters px-3 p-md-0 userpage-wall" style="margin-top: 10px">
			<div class="col">
				<div class="comment-section" id="replies-of-{{u.fullname}}">
					{% with comments=listing %}
						{% include "comments.html" %}
					{% endwith %}
				</div>
				{% if not listing %}
					{% if u.id == v.id %}
						{% set text = "There's no comments on your wall yet!" %}
					{% else %}
						{% set text = "There's no comments on @" ~ u.username ~ "'s wall yet!" %}
					{% endif %}
					{{macros.ghost_box(text, '', 1)}}
				{% endif %}
		</div>
		</div>
	</div>
{% endblock %}
