[Unit]
Description = Opera Proxy
After = network-online.target

[Service]
Restart = on-failure
RestartSec = 30s
User = rdrama
Group = rdrama
EnvironmentFile=/e
ExecStart = /snap/bin/opera-proxy -country ${OPERA_COUNTRY}

[Install]
WantedBy = multi-user.target
