{% extends "default.html" %}
{% block pagetitle %}{{ip}} Users{% endblock %}

{% block content %}
	<h5 class="pt-4 pl-2 pb-3">Users who visited from {{ip}} (<a href="https://ipinfo.io/{{ip}}">IP Info</a>)</h5>
	<div class="overflow-x-auto">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>First Used</th>
					<th>Last Used</th>
				</tr>
			</thead>
			{% for ip_log in ip_logs %}
				<tr>
					<td>
						{% with user=ip_log.user %}
							{% include "user_in_table.html" %}
						{% endwith %}
					</td>
					<td data-time="{{ip_log.created_utc}}"></td>
					<td data-time="{{ip_log.last_used}}"></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
