{% extends "settings2.html" %}
{% block pagetitle %}Patrons{% endblock %}
{% block content %}
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Tier</th>
		<th>Lifetime Donated</th>
		<th>Truescore</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{% include "user_in_table.html" %}</td>
		<td data-sort-key="{{user.patrons}}">
			{% if user.patron > 1 %}
				<img class="contain" alt="2{{user.patron}}" loading="lazy" width=29.33 height=32 src="{{SITE_FULL_IMAGES}}/i/{{SITE_NAME}}/badges/2{{user.patron}}.webp?b=8">
			{% endif %}
		</td>
		<td data-sort-key="{{user.lifetime_donated}}">${{user.lifetime_donated}}</td>
		<td>{{user.truescore}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
