{% extends "default.html" %}
{% block pagetitle %}Shadowbanned Users{% endblock %}
{% block content %}
	<h5 class="my-4">Shadowbanned Users</h5>
	<div class="overflow-x-auto">
		<table>
			<thead>
				<tr>
					<th class="disable-sort-click" {% if sort=="name" %}disabled{% endif %}>
						<a href="?sort=name">Name</a>
					</th>
					<th class="disable-sort-click" {% if sort=="truescore" %}disabled{% endif %}>
						<a href="?sort=truescore">Truescore</a>
					</th>
					<th class="disable-sort-click" {% if sort=="shadowban_reason" %}disabled{% endif %}>
						<a href="?sort=shadowban_reason">Shadowban reason</a>
					</th>
					<th class="disable-sort-click" {% if sort=="shadowbanned_by" %}disabled{% endif %}>
						<a href="?sort=shadowbanned_by">Shadowbanned by</a>
					</th>
					<th class="disable-sort-click" {% if sort=="last_active" %}disabled{% endif %}>
						<a href="?sort=last_active">Last Active</a>
					</th>
				</tr>
			</thead>
			{% for user in users %}
				<tr>
					<td data-sort="{{user.username.lower() if user else ''}}">{%- include 'user_in_table.html' -%}</td>
					<td>{{user.truescore}}</td>
					<td>{{user.shadowban_reason | safe}}</td>
					<td><a href="/{{user.shadowbanned_by}}">{{user.shadowbanned_by}}</a></td>
					<td {% if user.last_active %}data-time="{{user.last_active}}"{% endif %}></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block pagenav %}
	{{macros.pagination()}}
{% endblock %}
