{% extends "default.html" %}
{% block pagetitle %}@{{u.username}}'s IPs{% endblock %}

{% block content %}
	<h5 class="pt-4 pl-2 pb-3">@{{u.username}}'s IPs</h5>
	<div class="overflow-x-auto">
		<table>
			<thead>
				<tr>
					<th>IP</th>
					<th>IP Users</th>
					<th>IP Info</th>
					<th>First Used</th>
					<th>Last Used</th>
				</tr>
			</thead>
			{% for ip_log in ip_logs %}
				<tr>
					<td><a href="/ip_users/{{ip_log.ip}}">{{ip_log.ip}}</a></td>
					<td>{{ip_log.ip_count}}</td>
					<td><a href="https://ipinfo.io/{{ip_log.ip}}">IP Info</a></td>
					<td data-time="{{ip_log.created_utc}}"></td>
					<td data-time="{{ip_log.last_used}}"></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
