<div class="modal fade" id="banModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pt-3">
				<h5 id="banModalTitle"></h5>
				<button type="button" class="close" data-bs-dismiss="modal">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<div class="modal-body" id="ban-modal-body">

				<label for="ban_reason">Public ban reason (optional)</label>

				<input autocomplete="off" id="ban_reason" class="form-control" placeholder="Enter reason" maxlength="{{BAN_REASON_LENGTH_LIMIT}}">

				<label for="ban_days" class="mt-3">Days</label>
				<input autocomplete="off" type="number" step="any" id="ban_days" class="form-control" placeholder="Leave blank for permanent">

				<div class="custom-control custom-switch mt-3">
					<input autocomplete="off" type="checkbox" class="custom-control-input" id="ban_alts">
					<label class="custom-control-label" for="ban_alts">Ban known alts</label>
				</div>

				<div class="modal-footer pr-0">
					<button type="button" class="btn btn-secondary btn-link text-muted" data-bs-dismiss="modal">Cancel</button>
					<button type="button" id="banUserButton" class="btn btn-danger btn-primary mr-0" data-bs-dismiss="modal"></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="chudModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pt-3">
				<h5 id="chudModalTitle"></h5>
				<button type="button" class="close" data-bs-dismiss="modal">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<div class="modal-body pt-0" id="chud-modal-body">
				<input id="chud_reason" hidden id="chud_reason">

				<label for="note">The phrase they will have to say:</label>

				<div class="input-group">
					<select id="chud_phrase_modal" autocomplete="off" class="form-control">
						{% for entry in CHUD_PHRASES %}
							<option value="{{entry}}">
								{{entry}}
							</option>
						{% endfor %}
					</select>
				</div>

				<label class="mt-3" for="chud_days">Days</label>
				<input autocomplete="off" type="number" step="any" max="{{max_days()}}" id="chud_days" class="form-control" placeholder="Leave blank for permanent">

				<div class="modal-footer pr-0 mt-3">
					<button type="button" class="btn btn-secondary btn-link text-muted" data-bs-dismiss="modal">Cancel</button>
					<button type="button" id="chudUserButton" class="btn btn-danger btn-primary mr-0" data-bs-dismiss="modal"></button>
				</div>
			</div>
		</div>
	</div>
</div>

<script defer src="{{'js/admin/punish_modal.js' | asset}}"></script>
