<link rel="stylesheet" href="/assets/css/awards_PCM.css">
{% if p.award_count("croag", v) %}
	{{ stackable_award('croag', '/i/PCM/croag.webp', 'croag') }}
{% endif %}

{% if p.award_count("toe", v) %}
	{{ stackable_award('toe', '/i/PCM/toe.webp', "Blade's toe") }}
{% endif %}

{% if p.award_count("crab", v) %}
	<script nonce="{{g.csp_nonce}}">
		let audio = new Audio('/assets/media/crab.mp3');
		audio.loop=true;

		audio.play();
		window.addEventListener('click', () => {
			if (audio.paused) audio.play(); 
		}, {once : true});

		prepare_to_pause(audio)
	</script>
{% endif %}
