<div id="awards-container" class="w-100 h-100">
	{% macro stackable_award(award, src, alt) %}
		<div class="stackable-container">
			{% for i in range(p.award_count(award, v)) %}
				<div class="{{award}}">
					<img loading="lazy" alt="{{alt}}" src="{{src}}">
				</div>
			{% endfor %}
		</div>
	{% endmacro %}

	{% if p.award_count("emoji", v) or p.award_count("emoji-hz", v) %}
		{% for kind in ["emoji", "emoji-hz"] %}
			<div class="stackable-container">
				{% for emoji in p.emoji_awards_emojis(v, kind, OVER_18_EMOJIS) %}
					{% set src = '/e/' + emoji + '.webp' %}
					{% set alt = 'emoji-award-' + emoji %}
					{% set delay = 'animation-delay-' ~ ((loop.index-1)/4)|int %}
					<div class="{{kind}}-award {{delay}}">
						<img class="{{delay}} {% if emoji in ['marseywalking', 'capywalking', 'capycarp', 'marseyskinnedwalk', 'reindeer', 'marseyzombiewolftrample', 'taywalking', 'parrotmoonwalking', 'donkeykongwalk', 'dixiekongwalk', 'boosterwalking', 'marseydance', 'hamtarotreadmill', 'marseykatamarireddit'] %}reversed{% endif %}" loading="lazy" alt="{{alt}}" src="{{src}}">
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	{% endif %}

	{% if p.award_count("firework", v) %}
		<script defer src="{{'js/fireworks.js' | asset}}"></script>
		{{stackable_award('firework')}}
	{% endif %}

	{% if p.award_count("confetti", v) and (IS_BIRTHGAY() or IS_BIRTHDEAD()) %}
		<div class="confetti w-100 h-100"></div>
	{% endif %}

	{% if p.award_count("ricardo", v) %}
		{% for i in range(min(p.award_count("ricardo", v), 3)) %}
			{% set i = i + 1 %}
			<div class="ricardo ricardo{{i}}">
				{% if IS_HOMOWEEN() %}
					{% set src = SITE_FULL_IMAGES ~ "/assets/events/homoween/images/ricardo" ~ i ~ ".webp" %}
				{% else %}
					{% set src = SITE_FULL_IMAGES ~ "/i/ricardo" ~ i ~ ".webp" %}
				{% endif %}
				<img loading="lazy" src="{{src}}">
			</div>
		{% endfor %}
	{% endif %}
</div>
