{% extends "default.html" %}
{% block pagetitle %}@{{user.username}}'s Bank Statement{% endblock %}
{% block content %}
	<div class="row justify-content-around">
		<div class="col h-100">
			<div class="justify-content-between">
				<h2 class="font-weight-bolder text-center pt-2 pb-3 d-mob-none">@{{user.username}}'s Bank Statement</h2>
				<h4 class="font-weight-bolder text-center pt-2 pb-3 d-md-none">@{{user.username}}'s Bank Statement</h4>
			</div>
			<div class="rounded border mx-auto" style="max-width:800px">
				<h5 class="font-weight-bolder text-right pb-0 mr-3">Balance</h2>
				{% for log in logs %}
					<div class="modlog-action {% if log.amount > 0 %}bg-green{% else %}bg-red{% endif %} ">
						<div class="d-flex flex-grow-1 align-items-center">
							<div class="d-flex align-items-center justify-content-center mr-3 rounded-lg flex-shrink-0" style="width: 32px;height: 32px">
								<img width="{% if log.currency == 'coins' %}40{% else %}53{% endif %}" alt="{{log.currency}}" class="pl-2" data-bs-toggle="tooltip" data-bs-placement="bottom" src="{{SITE_FULL_IMAGES}}/i/{{log.currency}}.webp?x=7" title="{{log.currency.title()}}">
							</div>
							<div class="d-flex align-items-center">
								<div class="text-muted pl-3">
									<span><b class="bank-statement-amount">{% if log.amount > 0 %}+{% endif %}{{log.amount}} {{log.currency}}</b> &nbsp;&nbsp; {{log.reason | safe}}</span>
									<div class="text-gray-500">
										<span class="log--item-age" data-bs-toggle="tooltip" data-bs-placement="bottom" data-nonce="{{g.nonce}}" data-onmouseover="timestamp(this, '{{log.created_utc}}')">{{log.age_string}}</span>
									</div>
								</div>
							</div>
							<span class="ml-auto unbreakable">{{log.balance}} {{log.currency}}</span>
						</div>
					</div>
				{% else %}
					<div class="p-3">There's nothing here right now.</div>
				{% endfor %}
				{% include "pagination.html" %}
			</div>
		</div>
	</div>
{% endblock %}
