{% extends "default.html" %}
{% block pagetitle %}Contact{% endblock %}
{% block content %}
	<div id="contact" class="px-2 px-md-0">
		<h3 class="text-lg-sm">Contact {{SITE_NAME}} Admins</h3>
		{% if v %}
			<form id="contactform" action="/contact" method="post" enctype="multipart/form-data" data-nonce="{{g.nonce}}" data-onsubmit="sendFormXHRReload(this)">
				<label for="input-message" class="mt-3">Your message</label>
				<input hidden name="formkey" value="{{v|formkey}}" class="notranslate" translate="no">
				<textarea autocomplete="off" maxlength="10000" id="input-message" form="contactform" name="message" class="file-ta form-control" required></textarea>
				<div class="format-btns">
					{{macros.emoji_btn('input-message')}}
					{{macros.gif_btn('input-message')}}
					{{macros.file_btn('file-upload-contact')}}
					<input type="submit" value="Submit" class="btn btn-primary ml-auto">
				</div>
			</form>

			{% include "modals/emoji.html" %}
			{% include "modals/gif.html" %}

			{% if SITE_NAME == 'rDrama' %}
				<h5 class="mt-5">If you can see this line, we haven't been contacted by any law enforcement or governmental organizations in 2024 yet.</h5>
			{% endif %}
		{% else %}
			<h4>by email: {{EMAIL}}</h4>
		{% endif %}

		{% if listing %}
			<h3 class="text-lg-sm mt-5 pb-0 mb-0" style="margin-bottom:-14px !important">Previous Contacts</h3>
			{% with comments=listing %}
				{% include "comments.html" %}
			{% endwith %}
		{% endif %}
	</div>
{% endblock %}

{% block pagenav %}
	{% if listing %}
		{{macros.pagination()}}
	{% endif %}
{% endblock %}
