{% extends "default.html" %}
{% block pagetitle %}Directory{% endblock %}
{% block pagetype %}directory{% endblock %}

{%- set DIRECTORY = [
	(
		'Donate',
		'',
		'fa-dollar-sign', 'green',
		'/donate',
		True,
	),
	(
		'Bugs / Suggestions',
		'Something broken? Improvements?',
		'fa-bug', '#6b8e23',
		'/post/' ~ BUG_THREAD,
		BUG_THREAD,
	),
	(
		'Changelog',
		'Log of all site changes.',
		'fa-clipboard', '#ffffff',
		'/post/' ~ CHANGELOG_THREAD,
		CHANGELOG_THREAD,
	),
	(
		'View All Sidebar Images',
		'',
		'fa-sidebar-flip', '#f5fffa',
		'/sidebar_images',
		True,
	),
	(
		'View All Banners',
		'',
		'fa-landscape', '#87cefa',
		'/banners',
		True,
	),
	(
		'View All Emojis',
		'',
		'fa-smile-beam', '#fec83c',
		'/emojis/marsey',
		True,
	),
	(
		'View All Snappy Quotes',
		'',
		'fa-robot', '#adff2f',
		'/post/' ~ SNAPPY_THREAD,
		SNAPPY_THREAD,
	),
	(
		'Submit Sidebar Art',
		'Original ' ~ SITE_NAME ~ '-themed works.',
		'fa-sidebar-flip', '#f5fffa',
		'/submit/sidebar',
		FEATURES['ART_SUBMISSIONS'],
	),
	(
		'Submit Banner Art',
		'Original ' ~ SITE_NAME ~ '-themed works.',
		'fa-landscape', '#87cefa',
		'/submit/banners',
		FEATURES['ART_SUBMISSIONS'],
	),
	(
		'Submit Emojis',
		'Submit new emojis for the site.',
		'fa-smile-beam', '#fec83c',
		'/submit/emojis',
		FEATURES['EMOJI_SUBMISSIONS'],
	),
	(
		'Submit Hats',
		'Submit a Hat to be added.',
		'fa-hat-cowboy', '#7c603e',
		'/submit/hats',
		FEATURES['HAT_SUBMISSIONS'],
	),
	(
		'Submit Snappy Quotes',
		'Sentient.',
		'fa-robot', '#adff2f',
		'/post/' ~ SNAPPY_SUBMIT_THREAD,
		SNAPPY_SUBMIT_THREAD,
	),
	(
		'Update Emojis or Hats',
		'Ask for an emoji or a hat to be updated with a better version or for emoji tags to be changed.',
		'fa-smile-beam', '#fec83c',
		'/post/' ~ EMOJI_UPDATE_THREAD,
		EMOJI_UPDATE_THREAD,
	),
	(
		'Emoji Commissions',
		'Request an Emoji to be made.',
		'fa-coins', '#ffd700',
		'/post/' ~ EMOJI_COMMISSION_THREAD,
		EMOJI_COMMISSION_THREAD,
	),
	(
		'Reportmaxxxing Bounties',
		'Request a redditor be banned.',
		'fa-gavel', '#dc3545',
		'/post/215970',
		SITE == 'rdrama.net',
	),
] -%}

{% block content %}
	<div id="directory--wrapper">
		{% for thread in DIRECTORY %}
			{% if thread[5] %}
				<a class="directory--link" href="{{thread[4]}}">
					<div class="directory--link-content">
						<i class="directory--link--icon fas {{thread[2]}}" style="color:{{thread[3]}}"></i>
						<div class="directory--link--title">{{thread[0]|safe}}</div>
						<div class="directory--link--description">{{thread[1]|safe}}</div>
					</div>
				</a>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
