{% extends "default.html" %}
{% block pagetitle %}Directory{% endblock %}
{% block pagetype %}directory{% endblock %}
{# Title (~25char max), Description (~80char max),
	Icon (fa-foo-bar), Color (#ff0000), URL (/submit/hats) #}
{%- set DIRECTORY = [] -%}

{%- if SITE_NAME == 'rDrama' -%}
{%- do DIRECTORY.extend([
	(
		'Bugs / Suggestions',
		'Something broken? Improvements?',
		'fa-bug', '#6b8e23',
		'/post/18459',
	),
	(
		'Changelog',
		'Log of all site changes.',
		'fa-clipboard', '#ffffff',
		'/post/' ~ CHANGELOG_THREAD,
	),
	(
		'Submit Emojis',
		'Submit new emojis for the site.',
		'fa-smile-beam', '#ffa500',
		'/submit/emojis',
	),
	(
		'Submit Hats',
		'Submit a Hat to be added.',
		'fa-hat-cowboy', '#7c603e',
		'/submit/hats',
	),
	(
		'Update Emojis or Hats',
		'Ask for an emoji or a hat to be updated with a better version.',
		'fa-smile-beam', '#ffa500',
		'/post/103085',
	),
	(
		'Submit Sidebar Art',
		'Original rDrama-themed works.',
		'fa-sidebar', '#f5fffa',
		'/post/75878',
	),
	(
		'Submit Banner Art',
		'Original chud-repellant works.',
		'fa-landscape', '#87cefa',
		'/post/35835',
	),
	(
		'Submit Snappy Quotes',
		'Sentient.',
		'fa-robot', '#adff2f',
		'/post/33652',
	),
	(
		'Emoji Commissions',
		'Request an Emoji to be made.',
		'fa-coins', '#ffd700',
		'/post/37677',
	),
	(
		'Submit Redbubble Designs',
		'Submit a design to be added to our redbubble shop.',
		'fa-shirt', '#777777',
		'/post/110669',
	),
	(
		'View All Sidebar Pictures',
		'',
		'fa-sidebar', '#f5fffa',
		'/post/37696',
	),
	(
		'View All Banner Pictures',
		'',
		'fa-landscape', '#87cefa',
		'/post/37697',
	),
	(
		'View All Snappy Quotes',
		'',
		'fa-robot', '#adff2f',
		'/post/37749',
	),
	(
		'Donate',
		'',
		'fa-dollar-sign', 'green',
		'/donate',
	),
])-%}
{%- endif -%}

{% block content %}
<div id="directory--wrapper">
{% for thread in DIRECTORY %}
<a class="directory--link" href="{{thread[4]}}">
	<div class="directory--link-content">
		<i class="directory--link--icon fas {{thread[2]}}" style="color:{{thread[3]}}"></i>
		<div class="directory--link--title">{{thread[0]|safe}}</div>
		<div class="directory--link--description">{{thread[1]|safe}}</div>
	</div>
</a>
{% endfor %}
</div>
{% endblock %}
