{% extends "default.html" %}
{% block pagetitle %}Donate{% endblock %}
{% block content %}
	<h1 class="py-3">Donate and get {{patron}} rewards</h1>
	<div class="overflow-x-auto">
		<table class="table table-striped mb-5">
			<tbody>
				{% if v and v.truescore >= TRUESCORE_DONATE_MINIMUM %}
					{% if DONATE_SERVICE != DEFAULT_CONFIG_VALUE %}
						<tr>
							<td>{{DONATE_SERVICE}}</td>
							<td><a rel="nofollow noopener" href="{{DONATE_LINK}}">{{DONATE_LINK}}</a></td>
						</tr>
					{% endif %}
				{% endif %}
				<tr>
					<td>Ethereum/Brave Attention Token</td>
					<td>0xBBf1043A60C6894Db17b3118CA960FFDF84c9eea</td>
				</tr>
				<tr>
					<td>Bitcoin</td>
					<td>bc1qs5hamvytnkllgml89flzhcyt3l4a3u4gs8lvvp</td>
				</tr>
			</tbody>
		</table>
		{% if v and v.truescore >= TRUESCORE_DONATE_MINIMUM and DONATE_SERVICE != DEFAULT_CONFIG_VALUE %}
			<li class="pl-2 pb-4">
				If you donate via {{DONATE_SERVICE}}, please first <a href="/settings/security#site-settings-email-section">verify your email on the site</a>, and then use that same email on {{DONATE_SERVICE}} to get your <a rel="nofollow noopener" href="{{DONATE_LINK}}">{{patron}} rewards</a> automatically!
			</li>
		{% endif %}
		<li class="pl-2">
			If you donate crypto, please let us know by <a href="/contact">sending us a modmail</a> so we can give you your {{patron}} rewards manually!
		</li>
	</div>
{% endblock %}
