{% extends "default.html" %}
{% block pagetitle %}Donate{% endblock %}
{% block content %}
	{% set can_see = DONATE_LINK != DEFAULT_CONFIG_VALUE and v and v.can_see_countryclub and v.chud != 1 %}
	<h1 class="py-3">Donate and get {{patron}} rewards</h1>
	<div class="overflow-x-auto">
		<table class="table table-striped mb-5">
			<tbody>
				{% if can_see %}
					<tr>
						<td>{{DONATE_SERVICE}}</td>
						<td><a rel="noopener" href="{{DONATE_LINK}}">{{DONATE_LINK}}</a></td>
					</tr>
				{% elif SITE == 'rdrama.net' %}
					<tr>
						<td>Buymeacoffee</td>
						<td><a rel="noopener" href="https://buymeacoffee.com/rdrama.net/membership">https://buymeacoffee.com/rdrama.net/membership</a></td>
					</tr>
				{% endif %}
				<tr>
					<td>Bitcoin (BTC)</td>
					<td>bc1qs5hamvytnkllgml89flzhcyt3l4a3u4gs8lvvp</td>
				</tr>
				<tr>
					<td>Ethereum (ETH)</td>
					<td>0xBBf1043A60C6894Db17b3118CA960FFDF84c9eea</td>
				</tr>
				<tr>
					<td>Tether (USDT)</td>
					<td>0xBBf1043A60C6894Db17b3118CA960FFDF84c9eea</td>
				</tr>
				<tr>
					<td>USD Coin (USDC)</td>
					<td>0xBBf1043A60C6894Db17b3118CA960FFDF84c9eea</td>
				</tr>

				<tr>
					<td>Monero (XMR)</td>
					<td>44hdEpAYXkB2VwkWz6LR9zZhcaG8zrUzn21aPy1HSdcsjT51fPdpMV8hkf5QQdHKs9VsAs3so5Vq5easdBbzmcifGcqfxfw</td>
				</tr>
			</tbody>
		</table>
		{% if can_see %}
			<li class="pl-2 pb-4">
				If you donate via {{DONATE_SERVICE}}, please first make sure your email on {{SITE}} and your email on {{DONATE_SERVICE}} are the same, then click "Claim {{patron}} Rewards" <a href="/settings/security#site-settings-email-section">here</a>
			</li>
		{% endif %}
		<li class="pl-2">
			If you donate{% if can_see %} crypto{% endif %}, please let us know by <a href="/contact">sending us the transaction id via modmail</a> so we can give you your {{patron}} rewards manually!
		</li>
	</div>
{% endblock %}
