{% extends "default.html" %}
{% block pagetitle %}Emojis{% endblock %}
{% block pagetype %}emojis{% endblock %}
{% block content %}
<div class="d-flex align-items-center mt-3 mb-4">
	<div class="dropdown dropdown-actions mx-auto">
		<button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" style="width:min(95vw, 900px)">
			<img loading="lazy" src="{{SITE_FULL_IMAGES}}/e/{{kind.lower()}}.webp" alt=":{{kind.lower()}}:" class="mr-2">{{kind}}
		</button>
		<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px); max-height: 50vh;overflow: auto;width:min(95vw, 900px)">
			{% for kind in EMOJI_KINDS %}
				<a class="dropdown-item" href="/emojis/{{kind}}"><img loading="lazy" src="{{SITE_FULL_IMAGES}}/e/{{kind.lower()}}.webp" alt=":{{kind.lower()}}:" class="mr-2">{{kind}}</a>
			{% endfor %}
		</div>
	</div>
</div>

<div class="overflow-x-auto mt-3"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Emoji</th>
		<th>Usage</th>
		{% if FEATURES['ASSET_SUBMISSIONS'] %}
			<th>Author</th>
		{% endif %}
		<th>Added on</th>
		{% if FEATURES['ASSET_SUBMISSIONS'] %}
			<th class="disable-sort-click">Original File</th>
		{% endif %}
	</tr>
</thead>
<tbody id="emojis-table">
{% for emoji in emojis %}
<tr>
	<td>{{loop.index}}</td>
	<td>{{emoji.name}}</td>
	<td><img class="emoji" loading="lazy" data-bs-toggle="tooltip" alt=":#{{emoji.name}}:" title=":{{emoji.name}}:" src="{{SITE_FULL_IMAGES}}/e/{{emoji.name}}.webp"></td>
	<td>{{emoji.count}}</td>
	{% if FEATURES['ASSET_SUBMISSIONS'] %}
	{% set user = emoji.user %}
	<td>{% include "user_in_table.html" %}</td>
	{% endif %}
	<td data-sort-key="{{emoji.created_utc or 0}}" {% if emoji.created_utc != None %}data-time="{{emoji.created_utc}}"{% endif %}></td>
	{% if FEATURES['ASSET_SUBMISSIONS'] %}
	<td>
		{% if emoji.og %}
			<a href="{{SITE_FULL_IMAGES}}/asset_submissions/emojis/original/{{emoji.og}}">{{emoji.og}}</a>
		{% endif %}
	</td>
	{% endif %}
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
