{% extends "default.html" %}
{% block pagetitle %}!{{group}} Applications{% endblock %}
{% block content %}
{% if error %}{{macros.alert(error, true)}}{% endif %}
{% if msg %}{{macros.alert(msg, false)}}{% endif %}
<h5 class="my-3">!{{group}} Applications</h5>
<div class="overflow-x-auto mt-1"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>Name</th>
		<th>Applied on</th>
		{% if v.id == group.owner.id %}
			<th></th>
			<th></th>
		{% endif %}
	</tr>
</thead>
<tbody>
{% for application in applications %}
	<tr>
		<td>
			{% with user=application.user %}
				{% include "user_in_table.html" %}
			{% endwith %}
		</td>
		<td data-time="{{application.created_utc}}"></td>
		{% if v.id == group.owner.id %}
			<td>
				<form class="d-inline" action="/!{{group}}/{{application.user_id}}/approve" method="post" data-nonce="{{g.nonce}}">
					<input hidden name="formkey" value="{{v|formkey}}">
					<input autocomplete="off" class="btn btn-success ml-auto" type="submit" data-nonce="{{g.nonce}}" data-onclick="disable(this)" value="Approve">
				</form>
				<form class="d-inline ml-3" action="/!{{group}}/{{application.user_id}}/reject" method="post" data-nonce="{{g.nonce}}">
					<input hidden name="formkey" value="{{v|formkey}}">
					<input autocomplete="off" class="btn btn-danger ml-auto" type="submit" data-nonce="{{g.nonce}}" data-onclick="disable(this)" value="Reject">
				</form>
			</td>
		{% endif %}
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
