{% extends "default.html" %}

{% block pagetitle %}All Comments{% endblock %}
{% block PseudoSubmitForm %}{% endblock %}
{% block sortnav %}{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between align-items-center mt-1 mb-2">
		<div class="d-flex px-2 align-items-center mt-4">
			{%- import 'util/macros.html' as macros with context -%}
			{{- macros.time_filter_buttons() -}}
			{{- macros.sorting_buttons(COMMENT_SORTS) -}}
		</div>
	</div>

	<div class="row no-gutters {% if listing %}mt-md-3{% elif not listing %}my-md-3{% endif %}">

		<div class="col-12 px-3">

			<div class="posts" id="posts">

				{% include "comments.html" %}

			</div>
		</div>
	</div>


{% endblock %}

{% block pagenav %}
{% include "pagination.html" %}
{% endblock %}
