{% extends "default.html" %}
{% block pagetitle %}Lottery Participants{% endblock %}
{% block content %}
	<h5 class="my-1">Lottery Participants</h5>
	<div class="overflow-x-auto mt-4">
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Tickets Held</th>
				</tr>
			</thead>
			{% for user in participants %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{% include "user_in_table.html" %}</td>
					<td>{{user.currently_held_lottery_tickets}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
