<div class="container d-inline-flex d-lg-none">
	<div class="row fixed-bottom bg-white border-top" id="mobile-bottom-navigation-bar"
	style="z-index: 1000; bottom: 0px; transition: bottom cubic-bezier(0, 0, 0.2, 1) 220ms">

	<button type="button" class="nobackground border-0 col px-0 ml-3 btn btn-dead m-0">
		<a href="/" class="text-decoration-none">
			<div class="text-center {% if request|selected_tab=='home' %}text-primary{% else %}text-muted{% endif %}">
				<i class="fas fa-home-alt text-lg"></i>
				<div class="text-small-extra">Home</div>
			</div>
		</a>
	</button>
{% if v and v.defaultsorting == 'new' %}
	<button type="button" class="nobackground border-0 col px-0 btn btn-dead m-0">
		<a href="/?sort=hot" class="text-decoration-none">
			<div class="text-center {% if request|selected_tab=='hot' %}text-primary{% else %}text-muted{% endif %}">
				<i class="fas fa-fire text-lg"></i>
				<div class="text-small-extra">Hot</div>
			</div>
		</a>
	</button>
{% else %}
	<button type="button" class="nobackground border-0 col px-0 btn btn-dead m-0" style="margin-left:-10px!important">
		<a href="/?sort=new" class="text-decoration-none">
			<div class="text-center {% if request|selected_tab=='new' %}text-primary{% else %}text-muted{% endif %}">
				<i class="fas fa-sparkles text-lg"></i>
				<div class="text-small-extra">New</div>
			</div>
		</a>
	</button>
{% endif %}
<button type="button" class="nobackground border-0 col px-0 btn btn-dead m-0">
	<a href="/comments" class="text-decoration-none">
		<div class="text-center {% if request|selected_tab=='comments' %}text-primary{% else %}text-muted{% endif %}">
			<i class="fas fa-comment-dots text-lg"></i>
			<div class="text-small-extra">Comments</div>
		</div>
	</a>
</button>
<button type="button" class="nobackground border-0 col px-0 btn btn-dead m-0">
	<a href="/casino" class="text-decoration-none">
		<div class="text-center {% if request|selected_tab=='casino' %}text-primary{% else %}text-muted{% endif %}">
			<i class="fas fa-cards text-lg"></i>
			<div class="text-small-extra">Casino</div>
		</div>
	</a>
</button>
{% if v %}
	{%- if FEATURES['CHAT'] -%}
		{%- if v and v.allowed_in_chat and get_orgy() -%}
			<button type="button" class="nobackground border-0 col px-0 btn btn-dead m-0 pt-0" style="margin-right:-10px!important">
				<a href="/orgy" class="text-decoration-none">
					<div class="text-center {% if request|selected_tab=='orgy' %}text-primary{% else %}text-muted{% endif %}">
						<b class="text-lg text-danger" style="padding-top:10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Users in Orgy right now">{{g.loggedin_orgy}}</b>
						<div class="text-small-extra">Orgy</div>
					</div>
				</a>
			</button>
		{%- else -%}
			<button type="button" class="nobackground border-0 col px-0 btn btn-dead m-0 pt-0" style="margin-right:-10px!important">
				<a href="/chat" class="text-decoration-none">
					<div class="text-center {% if request|selected_tab=='chat' %}text-primary{% else %}text-muted{% endif %}">
						<b class="text-lg {% if g.loggedin_chat > 40 %}text-danger{% elif g.loggedin_chat > 20 %}text-yellow{% endif %}" style="padding-top:10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Users in chat right now">{{g.loggedin_chat}}</b>
						<div class="text-small-extra">Chat</div>
					</div>
				</a>
			</button>
		{%- endif -%}
	{%- endif -%}

	{%- if FEATURES['AWARDS'] -%}
		<button type="button" class="nobackground border-0 col px-0 mr-3 btn btn-dead m-0">
			<a href="/shop/awards" class="text-decoration-none">
				<div class="text-center {% if request|selected_tab=='shop' %}text-primary{% else %}text-muted{% endif %}">
					<i class="fas fa-store text-lg"></i>
					<div class="text-small-extra">Shop</div>
				</div>
			</a>
		</button>
	{%- endif -%}
{% else %}
	<button type="button" class="nobackground border-0 col px-0 mr-3 btn btn-dead m-0">
		<a href="/signup?redirect={{request.full_path | urlencode}}" class="text-decoration-none">
			<div class="text-center text-muted">
				<i class="fas fa-user-plus text-lg"></i>
				<div class="text-small-extra">Sign Up</div>
			</div>
		</a>
	</button>
{% endif %}
	</div>
</div>

<script defer src="{{'js/mobile_navigation_bar.js' | asset}}"></script>
