{% extends "default.html" %}
{% block pagetitle %}Notification Mutes{% endblock %}
{% block content %}
	<h5 class="font-weight-bolder text-center pt-2 pb-3">
		<span>Notification Mutes</span>
	</h5>
	<div class="overflow-x-auto mt-3">
		<table>
			<thead>
				<tr>
					<th>User</th>
					<th>Target</th>
					<th>Muted on</th>
					{% if FEATURES['BLOCK_MUTE_EXILE_EXPIRY'] %}
						<th>Expires on</th>
					{% endif %}
				</tr>
			</thead>
			{% for mute in mutes %}
				<tr>
					<td>
						{% with user = mute.user %}
							{% include "user_in_table.html" %}
						{% endwith %}
					</td>
					<td>
						{% with user = mute.target %}
							{% include "user_in_table.html" %}
						{% endwith %}
					</td>
					<td data-time="{{mute.created_utc}}"></td>
					{% if FEATURES['BLOCK_MUTE_EXILE_EXPIRY'] %}
						<td data-time="{{mute.created_utc+2678400}}"></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
