{%- extends 'root.html' -%}
{% block pagetitle -%}Chat{%- endblock %}
{% block pagetype %}chat{% endblock %}
{% block body_attributes %}class="has_header"{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{'css/chat.css' | asset}}">
	<link rel="stylesheet" href="{{'css/orgy.css' | asset}}">
	{% include "header.html" %}
	{% include "modals/expanded_image.html" %}
	{% include "modals/emoji.html" %}
	{% include "modals/gif.html" %}
	{% include "util/macros.html" %}
	{% set vlink = '<a href="/id/' ~ v.id ~ '"' %}
	<div class="orgy-top-container">
		<div id="orgy-col" class="col text-left px-md-2">
			<h3 id="orgy-title" class="mt-2 mb-3">{{orgy.title}}</h1>
			<div>
				<p id="orgy-file-container" class="resizable">
					{% if orgy.type == 'youtube' %}
						<iframe style="border: none" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation allow-popups-to-escape-sandbox" title="Play" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen src="https://www.youtube.com/embed/{{orgy.data}}?autoplay=1&modestbranding=1&autoplay=1"></iframe>
					{% elif orgy.type == 'rumble' %}
						<iframe src="{{orgy.data}}" frameborder="0" allowfullscreen></iframe>
					{% elif orgy.type == 'twitch' %}
						<iframe src="https://player.twitch.tv/?channel={{orgy.data}}&parent={{SITE}}" frameborder="0" allowfullscreen></iframe>
					{% elif orgy.type == 'file' %}
						<meta name="referrer" content="strict-origin-when-cross-origin">
						<video id="orgy-file" data-created_utc="{{orgy.real_start_utc}}" controls preload="none" src="{{orgy.data}}?x={{x}}">
							{% set subtitles_url = '/assets/' ~ orgy.data.split('/')[-1].split('.')[0] ~ '.vtt' %}
							{% if os_path.exists('files' ~ subtitles_url) %}
								<track label="English" kind="subtitles" srclang="en" src="{{subtitles_url}}?x={{x}}" default>
							{% endif %}
						</video>
						<video id="break-file" class="d-none" controls preload="none" src="/assets/break.mp4" data-run="0"></video>
						<script defer src="{{'js/orgy_file.js' | asset}}"></script>
					{% endif %}
				</p>
			</div>
		</div>

		<div class="orgy-chat-window-item pl-1 pr-2">
			<div id="chat-group-template" class="d-none">
				{{macros.chat_group_template()}}
				</div>
			</div>

			<div id="chat-line-template" class="d-none">
				{{macros.chat_line_template()}}
			</div>
			{{macros.chat_users_online()}}
			{{macros.chat_window(vlink)}}
		</div>
	</div>

	<input id="vid" hidden value="{{v.id}}">
	<input id="slurreplacer" hidden value="{{v.slurreplacer}}">
	<input id="admin_level" hidden value="{{v.admin_level}}">
	<input id="blocked_user_ids" hidden value="{{(v.userblocks|string)[1:-1]}}">
	<script defer src="{{'js/vendor/socketio.js' | asset}}"></script>
	<script defer src="{{'js/flash.js' | asset}}"></script>
	<script defer src="{{'js/vendor/lozad.js' | asset}}"></script>
	<script defer src="{{'js/vendor/lite-youtube.js' | asset}}"></script>
	<script defer src="{{'js/chat.js' | asset}}"></script>
{% endblock %}
