{%- extends 'root.html' -%}
{% block pagetitle -%}Chat{%- endblock %}
{% block pagetype %}chat{% endblock %}
{% block body_attributes %}class="has_header"{% endblock %}
{% block body %}
	{% include "header.html" %}
	{% include "modals/expanded_image.html" %}
	{% include "modals/emoji.html" %}
	{% include "util/macros.html" %}
	{% set vlink = '<a href="/id/' ~ v.id ~ '"' %}
	<div class="orgy-top-container">
		<div id="orgy-col" class="col text-left pt-3">
			<h2 id="orgy-title">{{orgy.title}}</h1>
			<div>
				{% if orgy.type == 'youtube' %}
					<lite-youtube videoid="{{orgy.data}}" params="autoplay=1&modestbranding=1"/>
				{% elif orgy.type == 'rumble' %}
					<iframe class="rumble rumble-player" width="100%"  src="{{orgy.data}}" frameborder="0" allowfullscreen></iframe>  
				{% elif orgy.type == 'twitch' %}
					<iframe
						src="https://player.twitch.tv/?channel={{orgy.data}}&parent={{site}}"
						class="rumble-player"
						allowfullscreen>
					</iframe>
				{% elif orgy.type == 'file' %}
					<p id="orgy-file-container" class="resizable">
						<video id="orgy-file" data-created_utc="{{orgy.created_utc}}" controls preload="none" src="{{orgy.data}}">
							<track label="English" kind="subtitles" srclang="en" src="/assets/The Thing.vtt" default>						
						</video>
					</p>
					<script defer src="{{'js/orgy_file.js' | asset}}"></script>
				{% endif %}
			</div>
			{{macros.chat_users_list()}}
		</div>

		<div class="orgy-chat-window-item">
			<div id="chat-group-template" class="d-none">
				{{macros.chat_group_template()}}
				</div>
			</div>

			<div id="chat-line-template" class="d-none">
				{{macros.chat_line_template()}}
			</div>
			{{macros.chat_users_online()}}
			{{macros.chat_window(vlink)}}
		</div>
	</div>

	<input id="vid" hidden value="{{v.id}}">
	<input id="site_name" hidden value="{{SITE_NAME}}">
	<input id="slurreplacer" hidden value="{{v.slurreplacer}}">
	<input id="admin_level" hidden value="{{v.admin_level}}">
	<input id="blocked_user_ids" hidden value="{{(v.userblocks|string)[1:-1]}}">
	<link rel="stylesheet" href="{{'css/orgy.css' | asset}}">
	<script defer src="{{'js/vendor/socketio.js' | asset}}"></script>
	<script defer src="{{'js/chat.js' | asset}}"></script>
	<script defer src="{{'js/vendor/lozad.js' | asset}}"></script>
	<script defer src="{{'js/vendor/lite-youtube.js' | asset}}"></script>
{% endblock %}
