{%- extends 'root.html' -%}
{% block pagetitle -%}Chat{%- endblock %}
{% block pagetype %}chat{% endblock %}
{% block body_attributes %}class="has_header"{% endblock %}
{% block body %}
	{% include "header.html" %}
	{% include "modals/expanded_image.html" %}
	{% include "modals/emoji.html" %}
	{% include "util/macros.html" %}
	{% set vlink = '<a href="/id/' ~ v.id ~ '">' %}
	<div class="container pb-4">
        
		<div class="orgy-top-container">
            <div class="col text-left d-none d-lg-block pt-3 orgy-info-window-item">
                <h2>{{orgy.title}}</h1>
                <div>
                    <lite-youtube videoid="{{orgy.youtube_id}}" params="autoplay=1&modestbranding=1"/>
                </div>
                {{macros.chat_users_list()}}
            </div>
            
            <div class="orgy-chat-window-item">
                <div id="chat-group-template" class="d-none">
                    {{macros.chat_group_template()}}
                    </div>
                </div>
    
                <div id="chat-line-template" class="d-none">
                    {{macros.chat_line_template()}}
                </div>
                {{macros.chat_users_online()}}
                {{macros.chat_window(vlink)}}
            </div>
            
        </div>
	</div>

	<input id="vid" hidden value="{{v.id}}">
	<input id="site_name" hidden value="{{SITE_NAME}}">
	<input id="slurreplacer" hidden value="{{v.slurreplacer}}">
	<input id="admin_level" hidden value="{{v.admin_level}}">
	<script defer src="{{'js/vendor/socketio.js' | asset}}"></script>
	<script defer src="{{'js/chat.js' | asset}}"></script>
	<script defer src="{{'js/vendor/lozad.js' | asset}}"></script>
	<script defer src="{{'js/vendor/lite-youtube.js' | asset}}"></script>
{% endblock %}
