{% extends "default.html" %}

{% block pagetitle %}Orgy Control Panel{% endblock %}

{% block content %}
	<div class="row my-5">
		<div class="col">
			<div class="settings mx-3">
				<div id="description">
					<a href="/chat/{{chat.id}}">
						<i class="fas fa-long-arrow-left mr-2"></i>Go back to chat
					</a>
					<h2 class="mt-4">Orgy Control Panel</h2>
					<span class="text-lg">Guide <a rel="noopener" href="https://rdrama.net/@HeyMoonster/wall/comment/5163373#context">here</a></span>
				</div>
				<div class="body d-lg-flex">
					<div class="w-lg-100">
						<form id="orgy" action="/chat/{{chat.id}}/schedule_orgy" method="post" data-nonce="{{g.nonce}}" data-onsubmit="sendFormXHRReload(this)">
							<div class="d-lg-flex border-bottom mt-5">
								<div class="title w-lg-25">
									<label for="title">Title</label>
								</div>
								<div class="body w-lg-100">
									<input id="title" autocomplete="off" type="text" name="title" class="form-control" maxlength="50" placeholder="Required" required>
								</div>
							</div>
							<div class="d-lg-flex border-bottom mt-3">
								<div class="title w-lg-25">
									<label for="link">Link (youtube, twitch, rumble, mp4 file)</label>
								</div>
								<div class="body w-lg-100">
									<input id="link" autocomplete="off" type="text" name="link" class="form-control" placeholder="Required" required data-nonce="{{g.nonce}}" data-oninput="autoSuggestTitle()">
								</div>
							</div>
							<div class="d-lg-flex border-bottom mt-3">
								<div class="title w-lg-25">
									<label for="start_utc">Start time (as an <a rel="noopener" href="https://epochconverter.com">epoch timestamp</a>)</label>
								</div>
								<div class="body w-lg-100">
									<input id="start_utc" autocomplete="off" type="number" step="any" name="start_utc" max="2147483647" class="form-control" placeholder="Optional. Leave blank to start orgy now.">
								</div>
							</div>
							<input hidden name="formkey" value="{{v|formkey}}" class="notranslate" translate="no">
							<div class="d-flex mt-3">
								<input id="start-orgy" autocomplete="off" class="btn btn-primary ml-auto" type="submit" value="Schedule Orgy">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="overflow-x-auto mt-3">
		<table>
			<thead>
				<tr>
					<th>Type</th>
					<th>Title</th>
					<th class="disable-sort-click"></th>
					<th>Starts on</th>
					<th>Ends on</th>
				</tr>
			</thead>

			{% for orgy in orgies %}
				<tr>
					<td>{{orgy.type}}</td>
					<td>
						<a href="{{orgy.url}}" rel="nofollow noopener">{{orgy.title}}</a>
					</td>
					<td>
						<button type="button" class="btn btn-danger btn-block" data-nonce="{{g.nonce}}" data-areyousure="remove_orgy(this, {{chat.id}}, {{orgy.created_utc}})" data-onclick="areyousure(this)">Remove</button>
					</td>
					{% if orgy.started %}
						<td>Started</td>
					{% else %}
						<td data-time="{{orgy.start_utc}}"></td>
					{% endif %}
					<td {% if orgy.end_utc %}data-time="{{orgy.end_utc}}"{% endif %}></td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<script defer src="{{'js/orgies.js' | asset}}"></script>
{% endblock %}
