{% extends "default.html" %}
{% block pagetitle %}{{kind}} Owners{% endblock %}
{% block content %}
	<h5 class="my-3">{{kind}} Owners</h5>
	<div class="overflow-x-auto mt-1">
		<table class="table table-striped mb-5">
			<thead class="bg-primary text-white">
				<tr>
					<th>Name</th>
					<th class="disable-sort-click">Owned since</td>
				</tr>
			</thead>
			<tbody id="owners-table">
			{% for user, created_utc in users %}
				<tr>
					<td>{% include "user_in_table.html" %}</td>
					<td {% if created_utc %}data-time="{{created_utc}}"{% endif %}></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block pagenav %}
	{% include "pagination.html" %}
{% endblock %}
