{% extends "post.html" %}

{% set score=p.score %}

{% if v %}
	{% set voted=p.voted %}
	{% set adjust=voted %}
{% else %}
	{% set voted=-2 %}
	{% set adjust=0 %}
{% endif %}

{% block content %}
	<div class="mb-2 p-3 banned">
		<div class="col-12">
			<div id="post-{{p.id}}" class="banned {% if p.award_count('glowie', v) %}glow{% endif %} card d-flex flex-row-reverse flex-nowrap justify-content-end border-0 p-0 {% if voted == 1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
				<div class="card-block my-md-auto">
					<div class="post-meta text-left d-md-none mb-1">{% if p.nsfw %}<span class="badge badge-danger">NSFW</span> {% endif %}{% if p.is_banned %}Removed by @{{p.ban_reason}}{% else %}[Deleted by user]{% endif %}</div>
					<div class="post-meta text-left d-mob-none">{% if p.nsfw %}<span class="badge badge-danger">NSFW</span> {% endif %}{% if p.is_banned %}Removed by @{{p.ban_reason}}{% else %}[Deleted by user]{% endif %}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-2 p-3">
		<div class="col-12">
			<div class="post-actions d-mob-none">
				<ul class="list-inline text-left mb-2">
					<li class="list-inline-item"><a href="{{p.permalink}}">
						<i class="fas fa-comment-dots mr-2"></i><span class="comm-count">{{p.comment_count}}</span> Comment{{'s' if p.comment_count != 1 else ''}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="comments-count py-3">
		{{- macros.sorting_buttons(COMMENT_SORTS, False, True) -}}
	</div>

	<div class="comment-section">
		{% with comments=p.replies %}
			{% include "comments.html" %}
		{% endwith %}
	</div>

	{% if offset %}
		<script defer src="{{'js/view_more.js' | asset}}"></script>
	{% endif %}
{% endblock %}

{% block mobileactions %}
	<div class="row fixed-top bg-white shadow d-inline-flex d-md-none p-3" id="footer-actions" style="z-index: 3; top: 48px; transition: top cubic-bezier(0, 0, 0.2, 1) 220ms">
		<div class="col text-center">
			<div class="post-actions mx-auto">
				<ul class="list-inline">
					<li id="voting-mobile" class="voting list-inline-item{% if voted == 1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
						<span class="arrow-mobile-up mr-2 arrow-mobile-up">
							<i class="fas fa-arrow-alt-up mx-0"></i>
						</span>
						<span class="post-{{p.id}}-score-mobile-up score-up text-muted{% if voted!=1 %} d-none{% endif %}">✖</span>
						<span class="post-{{p.id}}-score-mobile-none score text-muted{% if voted!=0 and voted!=-2 %} d-none{% endif %}">✖</span>
						<span class="post-{{p.id}}-score-mobile-down score-down text-muted{% if voted!=-1 %} d-none{% endif %}">✖</span>
						<span class="arrow-mobile-down arrow-mobile-down ml-2 my-0">
							<i class="fas fa-arrow-alt-down mx-0"></i>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
