<h3>Rules</h3>
<ol>
<li>You must be 18 or older to use this site.</li>
<li>Do not post anything illegal under US law.
<ul>
<li>Do not threaten or advocate violence.</li>
<li>Do not sexualize minors.</li>
<li>Do not post animal cruelty/abuse.</li>
<li>Do not request illegal content.</li>
</ul>
</li>
<li>No doxing. No witch hunts.</li>
<li>Posts must include videos of people dying.
<ul>
<li>The <i>Discussion</i>, <i>Social</i>, and <i>Music</i> flairs are intentionally off-topic and do not require people dying.</li>
<li>Videos that only include aftermath of a serious accident/incident or current event may be allowed.</li>
<li>No animal death unless there's also a human dying in the video.</li>
<li>No posts centering on abuse/excessive suffering of children.</li>
</ul>
</li>
<li>Titles should be as descriptive as possible.
<ul>
<li>Additional context, images, or sources are always encouraged and appreciated. No joke titles please.</li>
<li>If there is a child hurt or killed, please put "Child Warning" in the title.</li>
</ul>
</li>
<li>No explicit racism or bigotry.
<ul>
<li>Humor is fine, but comments that are just low effort shock value spam may be removed. Feel free to express your opinions but please try to express them in a reasonable manner.</li>
</ul>
</li>
<li>No reposts within <b>60 days</b>.</li>
</ol><ul>
<li>Also no reposts of famous videos (unless you have a more HQ version, have a different POV, or are doing a writeup on it). These are listed below.</li>
</ul>
<h3>FAMOUS VIDEOS:</h3>
<p><a href="/h/suicide/post/23814/ronnie-mcnutts-suicide-6-minutes-no" rel="nofollow">Ronnie McNutt's suicide</a></p>
<p><a href="/h/suicide/post/28611/shuaiby-r9k-suicide-full-50-minutes" rel="nofollow">Shuaiby Aslam's suicide</a></p>
<p><a href="/h/shooting/post/5/ima-just-leave-this-post-that" rel="nofollow">The Christchurch shooting</a></p>
<p><a href="/h/shooting/post/22653/buffalo-mass-shooting-full-livestream-video" rel="nofollow">The Buffalo shooting</a></p>
<p><a href="/h/bladed/post/17212/murders-of-louisa-vesterager-jespersen-and" rel="nofollow">The beheadings of Louisa Vesterager Jespersen and Maren Ueland</a></p>
<p><a href="/h/suicide/post/21780/budd-dwyer-full-video" rel="nofollow">Budd Dwyer's live TV suicide</a></p>
<p><a href="/h/suicide/post/16839/1444-korablev-gleb-vyacheslavovich-suicide-video" rel="nofollow">1444 (Russian man shoots himself on his couch)</a></p>
<p><a href="/h/shooting/post/22696/gary-plauch-shoots-his-sons-rapist" rel="nofollow">Gary Plauché shoots his son's rapist</a></p>
<p><a href="/h/bladed/post/23600/ms-pacman-video" rel="nofollow">Ms. Pacman (woman with her head split open)</a></p>
<p><a href="/h/accident/post/24336/russian-brick-video-no-watermark-more" rel="nofollow">The Russian brick video</a></p>
<p><a href="/h/cartel/post/25577/funkytown-without-watermark" rel="nofollow">Funky Town (cartel flaying+torturing)</a></p>
<p><a href="/h/beheading/post/11788/chechclear-no-watermarks" rel="nofollow">Chechclear</a></p>
<p><a href="/h/cartel/post/16286/sponsored-by-adidas-video-the-executioner" rel="nofollow">Sponsored by Adidas (cartel organ extraction + cannibalism)</a></p>
<p><a href="/h/cartel/post/6088/the-guerrero-flaying-incident" rel="nofollow">The Guerrero Flaying (aka No Mercy in Mexico)</a></p>
<p><a href="/h/gore/post/18078/1-lunatic-1-icepick-video-remastered" rel="nofollow">1 Lunatic 1 Icepick</a></p>
<p><a href="/h/cartel/post/15474/the-mexican-chainsaw-beheading-no-watermark" rel="nofollow">2 Guys 1 Chainsaw</a></p>
<p><a href="/h/beating/post/24683/3-guys-1-hammer-theync-and" rel="nofollow">3 Guys 1 Hammer (Dnepropetrovsk Maniacs)</a></p>
<p><a href="/h/accident/post/15764/classic-child-warning-girl-shoots-her" rel="nofollow">Girl shoots her cousin then kills herself (Paris Harvey)</a></p>
<p><a href="/h/social/post/84294/cw-teen-splits-face-open-after" rel="nofollow">Lebanese split-face diver</a></p>