<h3 style="filter: sepia(100%) saturate(500%) hue-rotate(60deg) drop-shadow(-4px 4px 10px lime);">CURRENT EVENTS:</h3>
<h4 style="filter: sepia(50%) saturate(500%) hue-rotate(10deg) drop-shadow(-1px 1px 5px hotpink);"><a href="/h/redscarepod/post/316697/contest-get-redscare-girlies-and-gays" target="_blank" rel="nofollow">Invite Redscare Girlies &amp; Gays</a></h4><sup>Marseybux and badge reward!</sup><br>
<h4 style="filter: sepia(50%) saturate(500%) hue-rotate(10deg) drop-shadow(-1px 1px 5px hotpink);"><a href="/post/155945/platyrich-marseybux-opportunity-real-platyrich" target="_blank" rel="nofollow">Find Rightoid Infighting</a></h4><sup>Marseybux reward per post!</sup><br>
<hr>
<hr>
<hr>
<p>Drama: any incident, scene, gaffe, rumor, opinion, or disagreement that is blown entirely out of proportion.</p>
<p><strong>Do your part to keep our community healthy by blowing everything out of proportion and making literally everything as dramatic as possible.</strong></p>
<h3><b>Rules:</b></h3>
<ol>
<li>Asking to see who saved comments/posts=1 day ban</li>
<li>You must be 18 or older to view this site.</li>
<li><strong><a href="/post/19711/a-short-guide-on-how-to" target="_blank" rel="nofollow">NO RIGHTWING AGENDAPOSTING.</a></strong></li>
<li>Discord users will be banned on sight.</li>
<li>Don't post anything illegal.</li>
<li>No sexualizing minors, even as a joke. This includes cartoons.</li>
<li>No doxxing.</li>
<li>Using alts to game dramacoin will get you banned.</li>
<li>If you post screenshots of reddit, twitter, or rdrama content, make sure to also include links (unless the content has been jannied).</li>
<li>Supporting free speech is an immediate ban.</li>
<li><strong>Absolutely NO anti-CCP sentiment.</strong></li>
<li><strong>Absolutely NO homophobia, transphobia or furphobia.</strong></li>
<li><strong>Absolutely NO misgendering.</strong></li>
<li><strong>Absolutely NO antisemitism.</strong></li>
<li><strong>Absolutely NO vaccine misinformation.</strong></li>
<li>You are encouraged to post drama you are involved in.</li>
<li>You are encouraged to brigade in bad faith.</li>
<li>You are encouraged to gaslight, to gatekeep, above all else, <i>to girlboss</i>.</li>
<li>You are encouraged to egg people on to transition or otherwise make drastic life changes.</li>
<li>This site is a janny playground, participation implies enthusiastic consent to being janny abused by unstable alcoholic bullies who have nothing better to do than banning you for any reason or no reason whatsoever (MODS = GODS)</li>
</ol>
<h3>Related subreddits:</h3>
<ul>
<li><p><a href="https://old.reddit.com/r/AgainstHateSubreddits" rel="nofollow noopener" target="_blank">/r/AgainstHateSubreddits</a></p></li>
<li><p><a href="https://old.reddit.com/r/SubredditDrama" rel="nofollow noopener" target="_blank">/r/SubredditDrama</a></p></li>
<li><p><a href="https://old.reddit.com/r/YoutubeDrama" rel="nofollow noopener" target="_blank">/r/YoutubeDrama</a></p></li>
<li><p><a href="https://old.reddit.com/r/LeopardsAteMyFace" rel="nofollow noopener" target="_blank">/r/LeopardsAteMyFace</a></p></li>
<li><p><a href="https://old.reddit.com/r/TheRightCantMeme" rel="nofollow noopener" target="_blank">/r/TheRightCantMeme</a></p></li>
<li><p><a href="https://old.reddit.com/r/TopMindsOfReddit" rel="nofollow noopener" target="_blank">/r/TopMindsOfReddit</a></p></li>
<li><p><a href="https://old.reddit.com/r/MarchAgainstNazis" rel="nofollow noopener" target="_blank">/r/MarchAgainstNazis</a></p></li>
<li><p><a href="https://old.reddit.com/r/gamingcirclejerk" rel="nofollow noopener" target="_blank">/r/GamingCircleJerk</a></p></li>
<li><p><a href="https://old.reddit.com/r/WitchesVsPatriarchy" rel="nofollow noopener" target="_blank">/r/WitchesVsPatriarchy</a></p></li>
<li><p><a href="https://old.reddit.com/r/Sino" rel="nofollow noopener" target="_blank">/r/Sino</a></p></li>
<li><p><a href="https://old.reddit.com/r/Polyamory" rel="nofollow noopener" target="_blank">/r/Polyamory</a></p></li>
<li><p><a href="https://old.reddit.com/r/TwoXChromosomes" rel="nofollow noopener" target="_blank">/r/TwoXChromosomes</a></p></li>
<li><p><a href="https://old.reddit.com/r/Antiwork" rel="nofollow noopener" target="_blank">/r/Antiwork</a></p></li>
<li><p><a href="https://old.reddit.com/r/SexWorkersOnly" rel="nofollow noopener" target="_blank">/r/SexWorkersOnly</a></p></li>
<li><p><a href="https://old.reddit.com/r/Egg_IRL" rel="nofollow noopener" target="_blank">/r/Egg_IRL</a></p></li>
</ul>
<br>
<p style="color: hotpink;">𝐜𝐚𝐫𝐩 𝐰𝐨𝐳 𝐞𝐫𝐞</p>