<h3>Rules</h3>
<ol>
<li><b>You must be 18 or older to use this site</b>.<a href="https://watchpeopledie.tv/contact" rel="nofollow"> Report under-18 users</a>. <b>Do not</b> engage in further contact with a user you know is a minor for <b>any</b> reason.</li>
<li>Do not post anything illegal under US law.
<ul>
<li>Do not threaten or advocate violence</li>
<li>Do not sexualize minors</li>
<li>Do not post training or promotional videos regarding <a href="https://www.state.gov/foreign-terrorist-organizations/" rel="nofollow noopener" target="_blank">Designated Foreign Terrorist Organizations</a></li>
<li>Do not post animal cruelty/abuse</li>
<li>Do not request illegal content</li>
</ul>
</li>
<li>No doxing. No witch hunts.
<ul>
<li>Don't dox or threaten to dox other WPD users, even offsite.</li>
</ul>
</li>
<li>Posts must include videos of people dying except in the designated Gore category of flairs.
<ul>
<li>The <i>Discussion</i>, <i>Social</i>, <i>Meta</i>, <i>Pets</i> and <i>Music</i> flairs are intentionally off-topic and do not require people dying.</li>
<li>Videos that only include aftermath of a serious accident/incident or current event may be allowed.</li>
<li>No animal death unless there's also a human dying in the same scene.</li>
<li>No posts centering on abuse/excessive suffering of children.</li>
</ul>
</li>
<li>Titles should be as descriptive as possible.
<ul>
<li>Additional context, images, or sources are always encouraged and appreciated. No joke titles please.</li>
<li>If there is a child hurt or killed, please use the Child Warning checkbox while creating a post.</li>
</ul>
</li>
<li>No explicit racism or bigotry. Some of our service providers are very sensitive.
<ul>
<li>Humor is fine, but comments that are just low effort shock value spam may be removed. Feel free to express your opinions but please try to express them in a reasonable manner.</li>
</ul>
</li>
<li>No overtly pornographic stuff, including "snuff porn".
<ul>
<li>In general: no solely fetish-oriented material.</li>
</ul>
</li>
<li>No reposts within <b>60 days</b>
<ul>
<li>Also no reposts of famous videos (unless you have a more HQ version, have a different POV, or are doing a writeup on it). These are listed below.</li>
</ul>
</li>
</ol>
<pre></pre>
<h3>FAMOUS VIDEOS:</h3>
<p><a href="/h/suicide/post/208988/the-best-quality-available-of-ronnie" rel="nofollow">Ronnie McNutt's suicide</a></p>
<p><a href="/h/suicide/post/28611/shuaiby-r9k-suicide-full-50-minutes" rel="nofollow">Shuaiby Aslam's suicide</a></p>
<p><a href="/h/shooting/post/5/ima-just-leave-this-post-that" rel="nofollow">The Christchurch shooting</a></p>
<p><a href="/h/shooting/post/22653/buffalo-mass-shooting-full-livestream-video" rel="nofollow">The Buffalo shooting</a></p>
<p><a href="/h/bladed/post/17212/murders-of-louisa-vesterager-jespersen-and" rel="nofollow">The beheadings of Louisa Vesterager Jespersen and Maren Ueland</a></p>
<p><a href="/h/suicide/post/21780/budd-dwyer-full-video" rel="nofollow">Budd Dwyer's live TV suicide</a></p>
<p><a href="/h/suicide/post/159738/classic-video-marseygleb-the-highest-quality" rel="nofollow">1444 (Russian man shoots himself on his couch)</a></p>
<p><a href="/h/shooting/post/22696/gary-plauch-shoots-his-sons-rapist" rel="nofollow">Gary Plauché shoots his son's rapist</a></p>
<p><a href="/h/bladed/post/23600/ms-pacman-video" rel="nofollow">Ms. Pacman (woman with her head split open)</a></p>
<p><a href="/h/accident/post/24336/russian-brick-video-no-watermark-more" rel="nofollow">The Russian brick video</a></p>
<p><a href="/h/cartel/post/25577/funkytown-without-watermark" rel="nofollow">Funky Town (cartel flaying+torturing)</a></p>
<p><a href="/h/beheading/post/186236/chechclear-highest-quality" rel="nofollow">Chechclear</a></p>
<p><a href="/h/cartel/post/115637/sponsored-by-adidas-gore-better-quality" rel="nofollow">Sponsored by Adidas (cartel organ extraction + cannibalism)</a></p>
<p><a href="/h/cartel/post/115178/no-mercy-in-mexico-longer-version" rel="nofollow">The Guerrero Flaying (aka No Mercy in Mexico)</a></p>
<p><a href="/h/bladed/post/225408/the-case-of-luka-magnotta-1" rel="nofollow">1 Lunatic 1 Icepick</a></p>
<p><a href="/h/cartel/post/15474/the-mexican-chainsaw-beheading-no-watermark" rel="nofollow">2 Guys 1 Chainsaw</a></p>
<p><a href="/h/beating/post/105654/3-guys-1-hammer-no-theync" rel="nofollow">3 Guys 1 Hammer (Dnepropetrovsk Maniacs)</a></p>
<p><a href="/h/accident/post/15764/classic-child-warning-girl-shoots-her" rel="nofollow">Girl shoots her cousin then kills herself (Paris Harvey)</a></p>
<p><a href="/h/accident/post/7437/full-split-face-diving-accident-video'" rel="nofollow">Lebanese split-face diver</a></p>
<p><a href="/h/suicide/post/130028/man-in-france-tries-to-jump" rel="nofollow">French dude gets impaled on a bollard after jumping from a building</a></p>
<p><a href="/h/industrial/post/145244/russian-lathe-video-informations-aftermath" rel="nofollow">The Russian lathe video</a></p>
<p><a href="/h/execution/post/210987/classic-gore-effortpost-marseybrasileirothe-infamous-mangue" rel="nofollow">Mangue 937/ Mangrove 937/ Swamp Girls</a></p>
<p><a href="/h/cartel/post/161595/cartel-del-noreste-capture-member-of" rel="nofollow">The Zacatecas flaying - CDN flaying head and removing heart of La Linea's member</a></p>
<pre></pre>
<h3>WPD MAP:</h3>
<p><a href="https://umap.openstreetmap.fr/en/map/wpd_1027433#3/27.69/36.91" rel="nofollow noopener" target="_blank">https://umap.openstreetmap.fr/en/map/wpd_1027433</a></p>