{% extends "search.html" %}

{% block pagetype %}notifications{% endblock %}

{% block listing_template %}
	<div class="posts p-3 p-md-0">
		{% include "comments.html" %}
	</div>

	{% if error %}
		<div class="row no-gutters">
			<div class="col">
				{{macros.ghost_box(error, '', 1)}}
			</div>
		</div>
	{% elif not comments %}
		<div class="row no-gutters">
			<div class="col">
				{{macros.ghost_box('No comments found!', '', 1)}}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block listinglength %}
	{{comments | length | commas}}
{% endblock %}
