<div class="col sidebar text-left {% if not request.path.startswith('/sidebar') %}d-none d-lg-block{% endif %} pt-2" {% if request.path != '/sidebar' %}id="sidebar-content"{% endif %}>

	<h5 class="text-center text-black mt-0 mt-md-2 mb-2">
		Top Poster of the Day:
		<span class="d-md-block mt-md-1">
			{% with user=top_poster_of_the_day() %}
				{% include "user_in_table.html" %}
			{% endwith %}
		</span>
	</h5>

	<h5 class="text-center text-black mt-0 mt-md-2 mb-2 pb-1">
		Deaths Today: <span class="deaths-today">0</span>
	</h5>

	<a href="/users">
		<h5 class="text-center mt-0 mt-md-2 mb-4">
			Current Registered Users: {{current_registered_users()}}
		</h5>
	</a>

	{% if hole and hole.sidebarurls %}
		{% set image = hole.random_sidebar %}
	{% elif IS_FISTMAS() or IS_BDAY() %}
		{% set image = macros.random_image("assets/events/" ~ IS_EVENT() ~ "/images/sidebar/" ~ SITE_NAME) %}
	{% elif IS_EVENT() %}
		{% set image = macros.random_image("assets/events/" ~ IS_EVENT() ~ "/images/sidebar") %}
	{% else %}
		{% set image = macros.random_image("assets/images/" ~ SITE_NAME ~ "/sidebar") %}
		{% set expanded_image = image|expand_art %}
	{% endif %}

	{% if request.path != '/sidebar' %}
		{% if SITE_NAME == 'WPD' and hole and hole.name == 'selfharm' and range(10)|random == 0 %}
			<video class="mb-4" poster="https://i.watchpeopledie.tv/images/17233922718609142.webp" controls loop preload="none" src="https://videos.watchpeopledie.tv/17233922716448271.mp4"></video>
		{% elif IS_HOMOWEEN() %}
			{% include "events/homoween/eye_tracking.html" %}
		{% else %}
			{% if not expanded_image %}
				{% set expanded_image = image %}
			{% endif %}
			<a href="{{expanded_image}}">
				<img class="mb-4 sidebar-img" alt="sidebar image" data-nonce="{{g.nonce}}" data-onclick="expandImage('{{expanded_image}}')" loading="lazy" src="{{image}}">
			</a>
		{% endif %}
	{% endif %}

	<p class="text-center text-md mb-4">
		<a class="sidebar-link d-md-none" href="/leaderboard" data-bs-toggle="tooltip" data-bs-placement="top" title="Leaderboard"><i class="fas fa-trophy"></i></a>
		<a class="sidebar-link d-md-none" href="/random_user" data-bs-toggle="tooltip" data-bs-placement="top" title="Random User with a Profile Anthem"><i class="fas fa-music"></i></a>
		<a class="sidebar-link" href="/badges" data-bs-toggle="tooltip" data-bs-placement="top" title="Badges"><i class="fas fa-hexagon"></i></a>
		<a class="sidebar-link" href="/admins" data-bs-toggle="tooltip" data-bs-placement="top" title="Admins"><i class="fas fa-crown"></i></a>
		<a class="sidebar-link" href="/log" data-bs-toggle="tooltip" data-bs-placement="top" title="Moderation Log"><i class="fas fa-scroll-old"></i></a>
		<a class="sidebar-link" href="/transfers" data-bs-toggle="tooltip" data-bs-placement="top" title="Transfers"><i class="fas fa-arrow-right-arrow-left"></i></a>
		<a class="sidebar-link" href="/random_post" data-bs-toggle="tooltip" data-bs-placement="top" title="Random Post"><i class="fas fa-random"></i></a>
		<a class="sidebar-link" href="/stats" data-bs-toggle="tooltip" data-bs-placement="top" title="Stats"><i class="fas fa-chart-simple"></i></a>
	</p>

	{% if IS_HOMOWEEN() %}
		<div class="progress">
			<div style="--width:{{bar_position()[0]}}%" class="bar-left"></div>
			<div style="--width:{{bar_position()[1]}}%" class="bar-right"></div>
			<div class="legend">
				<span title="{{bar_position()[2]}}">{{bar_position()[0]}}% Vaxxed</span>
				<span title="{{bar_position()[3]}}">{{bar_position()[1]}}% Infected</span>
			</div>
		</div>
	{% endif %}

	{# need SITE_FULL here cuz https://watchpeopledie.tv/h/meta/post/61549/megathread-for-bugs-and-suggestions/4228859#context #} 
	<a class="btn btn-primary btn-block mb-3" href="{{SITE_FULL}}?effortposts_only=true">BROWSE EFFORTPOSTS</a>
	<a class="btn btn-primary btn-block mb-3" href="/post/122529/new-user-welcome-message-supplement-for">SITE GUIDE</a>
	<a class="btn btn-primary btn-block mb-3" href="/directory">
		<span class="sidebar--big--head">DIRECTORY</span>
		<span class="sidebar--big--subhead">Emojis & Art | Info Megathreads</span>
	</a>
	<a class="btn btn-primary btn-block mb-3" href="/holes">HOLES</a>
	<a class="btn btn-primary btn-block mb-3" href="/ping_groups">PING GROUPS</a>

	{% if hole %}
		{% if v and v.admin_level %}
			<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/settings">/h/{{hole}} SETTINGS</a>
			<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/log">/h/{{hole}} LOG</a>
			<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/followers">/h/{{hole}} FOLLOWERS</a>
			<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/blockers">/h/{{hole}} BLOCKERS</a>	
		{% endif %}

		{% if hole.sidebar_html %}
			<div class="mt-5 mb-4">{{hole.sidebar_html|safe}}</div>
		{% endif %}
	{% endif %}

	<div class="hr-title">
		<hr>
		<h5><i class="fas fa-{{CATEGORIES_ICONS['Death']}} mx-2"></i>DEATH</h5>
		<hr>
	</div>
	<div class="sidebar-wpd--holes sidebar-wpd--holes--3">
		{% for name in CATEGORIES_HOLES['Death'] %}
			<a href="/h/{{name.lower()}}" {% if hole and hole.name == name.lower() %}class="active-hole"{% endif %}>{{name}}</a>
		{% endfor %}
	</div>

	<div class="hr-title mt-3">
		<hr>
		<h5><i class="fas fa-{{CATEGORIES_ICONS['Gore']}} mx-2"></i>GORE</h5>
		<hr>
	</div>
	<div class="sidebar-wpd--holes sidebar-wpd--holes--3">
		{% for name in CATEGORIES_HOLES['Gore'] %}
			<a href="/h/{{name.lower()}}" {% if hole and hole.name == name.lower() %}class="active-hole"{% endif %}>{{name}}</a>
		{% endfor %}
	</div>

	<div class="hr-title mt-3">
		<hr>
		<h5><i class="fas fa-{{CATEGORIES_ICONS['Community']}} mx-2"></i>COMMUNITY</h5>
		<hr>
	</div>
	<div class="sidebar-wpd--holes sidebar-wpd--holes--3">
		{% for name in CATEGORIES_HOLES['Community'] %}
			<a href="/h/{{name.lower()}}" {% if hole and hole.name == name.lower() %}class="active-hole"{% endif %}>{{name}}</a>
		{% endfor %}
	</div>

	<div class="hr-title mt-3">
		<hr>
		<h5><i class="fas fa-{{CATEGORIES_ICONS['Active Conflicts']}} mx-2"></i>ACTIVE CONFLICTS</h5>
		<hr>
	</div>
	<div class="sidebar-wpd--holes sidebar-wpd--holes--1 mb-3">
		<a href="/h/slavshit" {% if hole and hole.name == 'slavshit' %}class="active-hole"{% endif %}>
			<img loading="lazy" class="emoji" src="{{SITE_FULL_IMAGES}}/e/marseyflagukraine.webp">
			Slavshit
			<img loading="lazy" class="emoji mirrored" src="{{SITE_FULL_IMAGES}}/e/marseyflagrussia.webp">
		</a>

		<a href="/h/sandshit" {% if hole and hole.name == 'sandshit' %}class="active-hole"{% endif %}>
			<img loading="lazy" class="emoji" src="{{SITE_FULL_IMAGES}}/e/marseyflagpalestine.webp">
			Sandshit
			<img loading="lazy" class="emoji mirrored" src="{{SITE_FULL_IMAGES}}/e/marseyflagisrael.webp">
		</a>
	</div>

	<div class="sidebar--rules sidebar--rules--wpd pt-2">
		{% set rules = "rules_" ~ SITE_NAME ~ ".html" %}
		{% include rules %}
	</div>

	<hr>
	<div class="mt-3">
		Current software version: <a href="https://fsdfsd.net/MarseyWorld/MarseyWorld/commit/{{git_head()[0]}}">{{git_head()[0]}}</a>
	</div>
</div>
