<div class="col sidebar text-left {% if not request.path.startswith('/sidebar') %}d-none d-lg-block{% endif %} pt-2" {% if request.path != '/sidebar' %}id="sidebar-content"{% endif %}>

	<h5 class="text-center text-black mt-0 mt-md-2 mb-3">
		Top Poster of the Day:
		<span class="d-md-block mt-md-1">
			{% with user=top_poster_of_the_day() %}
				{% include "user_in_table.html" %}
			{% endwith %}
		</span>
	</h5>

	<a href="/users">
		<h5 class="text-center mt-0 mt-md-2 mb-4">
			Current Registered Users: {{current_registered_users()}}
		</h5>
	</a>

	{% if hole and hole.sidebarurls %}
		{% set image = hole.random_sidebar %}
	{% elif IS_FISTMAS() or IS_BDAY() %}
		{% set image = macros.random_image("assets/events/" ~ IS_EVENT() ~ "/images/sidebar/" ~ SITE_NAME) %}
	{% elif IS_EVENT() %}
		{% set image = macros.random_image("assets/events/" ~ IS_EVENT() ~ "/images/sidebar") %}
	{% elif v and v.chud %}
		{% set image = SITE_FULL_IMAGES + "/i/rDrama/sidebar/2317.webp?x=12" %}
		{% set expanded_image = image|expand_art %}
	{% else %}
		{% set image = macros.random_image("assets/images/" ~ SITE_NAME ~ "/sidebar") %}
		{% set expanded_image = image|expand_art %}
	{% endif %}


	{% if request.path != '/sidebar' %}
		{% if IS_HOMOWEEN() and not (hole and hole.sidebarurls) %}
			{% include "events/homoween/eye_tracking.html" %}
		{% elif not (hole and hole.name == 'chudrama' and v and not v.can_see_chudrama) %}
			{% if not expanded_image %}
				{% set expanded_image = image %}
			{% endif %}
			<a href="{{expanded_image}}">
				<img class="mb-4 sidebar-img" alt="sidebar image" data-nonce="{{g.nonce}}" data-onclick="expandImage('{{expanded_image}}')" loading="lazy" src="{{image}}">
			</a>
		{% endif %}
	{% endif %}

	<p class="text-center text-md mb-4">
		<a class="sidebar-link d-md-none" href="/leaderboard" data-bs-toggle="tooltip" data-bs-placement="top" title="Leaderboard"><i class="fas fa-trophy"></i></a>
		<a class="sidebar-link d-md-none" href="/random_user" data-bs-toggle="tooltip" data-bs-placement="top" title="Random User with a Profile Anthem"><i class="fas fa-music"></i></a>
		<a class="sidebar-link" href="/badges" data-bs-toggle="tooltip" data-bs-placement="top" title="Badges"><i class="fas fa-hexagon"></i></a>
		<a class="sidebar-link" href="/admins" data-bs-toggle="tooltip" data-bs-placement="top" title="Admins"><i class="fas fa-crown"></i></a>
		<a class="sidebar-link" href="/log" data-bs-toggle="tooltip" data-bs-placement="top" title="Moderation Log"><i class="fas fa-scroll-old"></i></a>
		<a class="sidebar-link" href="/transfers" data-bs-toggle="tooltip" data-bs-placement="top" title="Transfers"><i class="fas fa-arrow-right-arrow-left"></i></a>
		<a class="sidebar-link" href="/random_post" data-bs-toggle="tooltip" data-bs-placement="top" title="Random Post"><i class="fas fa-random"></i></a>
		<a class="sidebar-link" href="/stats" data-bs-toggle="tooltip" data-bs-placement="top" title="Stats"><i class="fas fa-chart-simple"></i></a>
	</p>

	{% if IS_HOMOWEEN() %}
		<div class="progress">
			<div style="--width:{{bar_position()[0]}}%" class="bar-left"></div>
			<div style="--width:{{bar_position()[1]}}%" class="bar-right"></div>
			<div class="legend">
				<span title="{{bar_position()[2]}}">{{bar_position()[0]}}% Vaxxed</span>
				<span title="{{bar_position()[3]}}">{{bar_position()[1]}}% Infected</span>
			</div>
		</div>
	{% endif %}

	{% if hole and hole.sidebar_html %}
		<div class="mb-4">{{hole.sidebar_html|safe}}</div>
	{% endif %}

	<a class="btn btn-primary btn-block mb-3" href="/?effortposts_only=True">BROWSE EFFORTPOSTS</a>
	<a class="btn btn-primary btn-block mb-3" href="/post/151246/rdrama-featureset">SITE GUIDE</a>
	<a class="btn btn-primary btn-block mb-3" href="/directory">
		<span class="sidebar--big--head">DIRECTORY</span>
		<span class="sidebar--big--subhead">Emojis & Art | Info Megathreads</span>
	</a>
	<a class="btn btn-primary btn-block mb-3" href="/holes">HOLES</a>
	<a class="btn btn-primary btn-block mb-3" href="/ping_groups">PING GROUPS</a>

	{% if hole %}
		<br>
		<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/settings">/h/{{hole}} SETTINGS</a>
		<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/log">/h/{{hole}} LOG</a>
		<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/mods">/h/{{hole}} MODS</a>
		<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/exilees">/h/{{hole}} EXILEES</a>
		<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/followers">/h/{{hole}} FOLLOWERS</a>
		<a class="btn btn-primary btn-block mb-3 text-uppercase" style="font-size: 0.87rem" href="/h/{{hole}}/blockers">/h/{{hole}} BLOCKERS</a>
	{% else %}
		<div class="sidebar--rules sidebar--rules--rdrama pt-2">
			{% set rules = "rules_" ~ SITE_NAME ~ ".html" %}
			{% include rules %}
		</div>
	{% endif %}

	<hr>
	<div class="mt-3">
		Current software version: <a href="https://fsdfsd.net/MarseyWorld/MarseyWorld/commit/{{git_head()[0]}}">{{git_head()[0]}}</a>
	</div>
</div>
