{% extends "meta_navbar.html" %}
{% block pagetitle %}Statistics{% endblock %}
{% block content %}
	<header id="shop-header" class="container text-center pb-0">
		<img class="mt-2 mb-4" width="300" alt="coat of arms" src="{{SITE_FULL_IMAGES}}/i/{{SITE_NAME}}/coat_of_arms.webp?x=20">

		{% set today = datetime.datetime.today().strftime('%Y-%m-%d') %}

		<h3>Weekly Chart</h3>
		<a href="{{SITE_FULL_IMAGES}}/images/weekly_chart.png?x={{today}}" rel="noopener" target="_blank">
			<img alt="Weekly Chart" class="img" src="{{SITE_FULL_IMAGES}}/images/weekly_chart.png?x={{today}}" data-nonce="{{g.nonce}}" data-onclick="expandImage()">
		</a>

		<h3>Daily Chart</h3>
		<a href="{{SITE_FULL_IMAGES}}/images/daily_chart.png?x={{today}}" rel="noopener" target="_blank">
			<img alt="Daily Chart" class="img" src="{{SITE_FULL_IMAGES}}/images/daily_chart.png?x={{today}}" data-nonce="{{g.nonce}}" data-onclick="expandImage()">
		</a>
	</header>

	<div class="overflow-x-auto mt-4">
		<table>
			<thead>
				<tr>
					<th class="disable-sort-click">Statistic</th>
					<th class="disable-sort-click">Value</th>
				</tr>
			</thead>
			{% for key, value in stats.items() %}
				<tr>
					<td>{{key}}</td>
					{% if key == 'Time these stats were collected' -%}
						<td data-time="{{value}}"></td>
					{% else -%}
						<td>{{value}}</td>
					{%- endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
