{% extends "default.html" %}
{% block pagetitle %}Statistics{% endblock %}
{% block content %}
	<h3>Weekly Chart</h3>
	<a href="/weekly_chart.webp" rel="noopener" target="_blank">
		<img alt="Weekly Chart" class="img" src="/weekly_chart.webp">
	</a>

	<h3>Daily Chart</h3>
	<a href="/daily_chart.webp" rel="noopener" target="_blank">
		<img alt="Daily Chart" class="img" src="/daily_chart.webp">
	</a>

	<div class="overflow-x-auto mt-4">
		<table class="table table-striped mb-5">
			<thead class="bg-primary text-white">
				<tr>
					<th class="disable-sort-click">Statistic</th>
					<th class="disable-sort-click">Value</th>
				</tr>
			</thead>
			{% for key, value in data.items() %}
				<tr>
					<td>{{key}}</td>
					{% if key == 'time' -%}
						<td data-time="{{value}}"></td>
					{% else -%}
						<td>{{value}}</td>
					{%- endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
