{% extends "default.html" %}
{% block pagetitle %}Versions of /{% if obj.fullname.startswith('p_') %}post{% else %}comment{% endif %}/{{obj.id}}{% endblock %}
{% block content %}
	<h2 class="my-4 py-md-2 d-none d-md-block">Versions of <a href="{{obj.permalink}}">/{% if obj.fullname.startswith('p_') %}post{% else %}comment{% endif %}/{{obj.id}}</a></h2>
	<h4 class="my-4 py-md-2 d-md-none">Versions of <a href="{{obj.permalink}}">/{% if obj.fullname.startswith('p_') %}post{% else %}comment{% endif %}/{{obj.id}}</a></h4>

	<div class="overflow-x-auto">
		<table>
			<thead>
				<tr>
					{% if obj.fullname.startswith('p_') %}
						<th>Title</th>
					{% endif %}
					<th>Body</th>
				</tr>
			</thead>

			<tr>
				{% if obj.fullname.startswith('p_') %}
					<td>{{obj.title_html | safe}}</td>
				{% endif %}
				<td>{{obj.body_html | safe}}</td>
			</tr>

			{% for edit in obj.edits %}
				<tr>
					{% if obj.fullname.startswith('p_') %}
						<td>{{edit.old_title_html | safe}}</td>
					{% endif %}
					<td>{{edit.old_body_html | safe}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
