{% extends "default.html" %}
{% block pagetitle %}{{title}}{% endblock %}
{% block pagetype %}error{% endblock %}
{% block content %}
	<div class="row justify-content-center">
		<div class="col-10 col-md-7">
			<div class="text-center px-3 my-5">
				{% if img -%}
					<img alt=":#{{img}}:" loading="lazy" src="{{SITE_FULL_IMAGES}}/e/{{img}}.webp">
				{%- endif %}
				<h5 class="mt-2">{{title}}</h5>
				<p class="text-muted error-description">{{msg|safe}}</p>
				{% if details -%}
					<blockquote class="error-details mb-4 py-2">{{details|safe}}</blockquote>
				{%- endif %}
				{% if code == 406 %}
					{% if not v.username.startswith('deleted~') %}
						<div><a href="/contact" class="btn btn-primary mt-1">Contact Admins</a></div>
						<script defer src="{{'js/underage.js' | asset}}"></script>
						<button type="button" class="btn btn-danger mt-3" data-nonce="{{g.nonce}}" data-onclick="areyousure(this)" data-areyousure="postToastReload(this,'/settings/delete_account')">Delete Account</button>
					{% endif %}
				{% elif code != 418 %}
					<div><a href="/" class="btn btn-primary mt-3">Go to frontpage</a></div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
