#post-title, #post-content p {
	--color1: rgb(12, 128, 101);
	--color2: ;
	font-family: "Open Sans", sans-serif;
	background: repeating-linear-gradient(
		45deg,
		#cc4145,
		#0c8065 11px
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	animation: 45s linear 0s infinite move-colors;
}

#post-title a {
	color: transparent !important;
}

#post-title:hover, #post-content p:hover {
	animation-duration: 10s;
}
