#post-root::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 57px;
	width: 100%;
	background: url('/assets/events/fistmas/images/lights.webp?x=6');
	animation: lights 1s infinite steps(2);
	pointer-events: none;
	z-index: 1;
}
