@charset "UTF-8";

/* Fonts */
@font-face {
	font-family: 'Creepster';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/events/homoween/fonts/Creepster.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "DoubleFeature";
	src: url("/assets/events/homoween/fonts/DoubleFeature.woff") format("woff");
}

@font-face {
	font-family: "Jo_wrote_a_lovesong";
	src: url("/assets/events/homoween/fonts/Jo_wrote_a_lovesong.woff") format("woff");
}

@font-face {
	font-family: "XTypewriter-Regular";
	src: url("/assets/events/homoween/fonts/XTypewriter-Regular.woff") format("woff");
}

@font-face {
	font-family: "SpecialElite-Regular";
	src: url("/assets/events/homoween/fonts/SpecialElite-Regular.woff") format("woff");
}

/* Homoween Theming */
:root {
  --dark: #140224;
  --secondary: #820263;
  --white: #E1E1E1;
  --black: #CFCFCF;
  --light: #170535;
  --muted: #E1E1E1;
  --gray: #383838;
  --gray-100: #E1E1E1;
  --gray-200: #E1E1E1;
  --gray-300: #291720;
  --gray-400: #303030;
  --gray-500: var(--dark);
  --gray-600: var(--dark);
  --gray-700: var(--dark);
  --gray-800: var(--dark);
  --gray-900: var(--dark);
  --background: 20, 2, 36;
}

body {
	overflow-x: hidden;
}

#header--icon {
	height: 33px;
	width: 33px;
	object-fit: contain;
}

* {
	border-color: var(--primary);
}

a:hover.user-name {
	cursor: url('/assets/events/homoween/images/machete.webp'), auto !important;
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary);
}

.btn {
	background: transparent;
	border-color: var(--primary);
	border-width: 2px;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: none !important;
}

#frontpage .post-title a:visited:not(.effortpost-flair) {
	color: #7a7a7a !important;
}

.post-title a, h1.post-title {
	font-family: 'SpecialElite-Regular';
	font-size: 1.25rem;
}

.arrow-up::before, .arrow-down::before {
	content: '\f720';
	width: 20px;
}

.arrow-down::before {
	display: inline-block;
	transform: rotate(180deg);
}

#thread .arrow-up::before, #thread .arrow-down::before {
	content: '\f720';
	width: 17px;
  }

/* Cob Webs */
body::before {
	content: '';
	position: fixed;
	background-image: url('/assets/events/homoween/images/cobweb-bl.webp');
	background-size: contain;
	background-repeat: no-repeat;
	left: -1.5rem;
	bottom: -1.5rem;
	width: 170px;
	height: 230px;
	z-index: 10001;
	pointer-events: none;
	transform: rotate(180deg);
	opacity: .5;
}

body::after {
	content: '';
	position: fixed;
	background-image: url('/assets/events/homoween/images/cobweb-tr.webp');
	background-size: contain;
	background-repeat: no-repeat;
	right: -1.5rem;
	top: -1.5rem;
	width: 160px;
	height: 160px;
	z-index: 10001;
	pointer-events: none;
	opacity: .45;
}

/* Blood Effect */
.blood::before {
	content: '';
	position: absolute;
	background-image: url('/assets/events/homoween/images/blood-anim.webp');
	width: 100%;
	height: 55px;
	background-repeat: repeat-x;
	top: 0;
	left: 0;
}

.blood {
	position: relative;
	color: #d54e56 !important;
	font-family: 'DoubleFeature';
}

.sketch {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}

/* Haunted Effect */
.haunt > div:not(.modal) {
	animation: haunted 10s infinite;
}

@keyframes haunted {
	0% {
		backdrop-filter: brightness(20%);
	}
	1% {
		backdrop-filter: brightness(20%);
	}
	2% {
		backdrop-filter: sepia(0.8) contrast(1.5) brightness(200%);
	}
	3% {
		backdrop-filter: sepia(0.8) contrast(1.5) brightness(20%);
	}
	4% {
		backdrop-filter: brightness(300%);
	}
	7% {
		backdrop-filter: brightness(1);
	}
	100% {
		backdrop-filter: brightness(1);
	}
}

/* Spiders */
.spider:nth-child(odd) {
	animation-name: swingFast;
}

.spider:nth-child(2) {
	animation-delay: 250ms;
	animation-duration: 2100ms;
	left: 30%;
}

.spider:nth-child(3) {
	animation-delay: 300ms;
	animation-duration: 1600ms;
	left: 50%;
}

.spider:nth-child(4) {
	animation-delay: 400ms;
	animation-duration: 200ms;
	left: 70%;
}

.spider {
	z-index: 10;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 10%;
	animation: swing 2s infinite;
	transform-origin: top;
	transition: 0.8s ease-in-out;
	pointer-events: none;
}


@media (max-width: 768px) {
	.spider {
		zoom: 0.5;
	}
}

@media (max-width: 768px) {
	@supports (-moz-appearance:none) {
		.spider {
			left: 5%;
		}
		.spider:nth-child(2) {
			left: 20%;
		}
		.spider:nth-child(3) {
			left: 35%;
		}
		.spider:nth-child(4) {
			left: 50%;
		}
	}
}

.spider:hover .body {
	transform: rotate(20deg);
	transition: 0.4s ease-in-out;
}

.spider:nth-child(odd):hover .body {
	transform: rotate(-10deg);
	transition: 0.2s ease-in-out;
}

.spider .spiderweb {
	width: 2px;
	height: 200px;
	margin-left: 49px;
	background: rgba(255, 255, 255, 0.7);
}

.spider .body {
	width: 100px;
	height: 80px;
	background: #222;
	position: relative;
	border-radius: 50%;
}

.spider .body .eye {
	width: 28px;
	height: 28px;
	position: absolute;
	bottom: 24px;
	background: #fff;
	border-radius: 50%;
}

.spider .body .eye.left {
	left: 20px;
}

.spider .body .eye.right {
	right: 20px;
}

.spider .body .eye:after {
	background: #222;
	width: 16px;
	height: 16px;
	content: "";
	display: block;
	margin: 55%;
	border-radius: 50%;
	animation: look 4s infinite;
}

.spider:nth-child(4) .body .eye {
	background-color: #FF0000;
	background: radial-gradient(#FF9B9B, #FF0000);
}

.spider:nth-child(odd) .body .eye:after {
	animation-delay: 1400ms;
	animation-duration: 3600ms;
}

.spider .legs .leg {
	width: 80px;
	height: 40px;
	margin-top: -20px;
	border: 5px solid transparent;
	border-top-color: #333;
	border-radius: 40px 40px 0 0;
}

.spider .legs {
	position: absolute;
	bottom: -10%;
	z-index: -1;
}

.spider .legs.left {
	left: -70%;
}
.spider .legs.right {
	right: -60%;
}

.legs.left .leg:nth-child(1) {
	transform: rotate(10deg);
	margin-left: 10px;
}
.legs.right .leg:nth-child(1) {
	transform: rotate(-10deg);
	margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
	transform: rotate(-20deg);
	margin-left: 20px;
}
.legs.right .leg:nth-child(2) {
	transform: rotate(20deg);
	margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
	transform: rotate(-50deg);
	margin-left: 30px;
}
.legs.right .leg:nth-child(3) {
	transform: rotate(50deg);
	margin-left: -30px;
}

@keyframes look {
	0%,
	40%,
	100% {
		transform: translateX(0);
	}

	45%,
	95% {
		transform: translateX(-100%);
	}
}

@keyframes swing {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-24px);
	}
}

@keyframes swingFast {
	0%,
	100% {
		transform: translateY(0);
	}

	55% {
		transform: translateY(-36px);
	}
}

/* Fog effect */
.fog-effect {
	opacity: 0.35;
}

#fog-effect {
	pointer-events: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1031;
}

/* Eyes */
.eye {
	position: relative;
	width: 26px;
	height: 26px;
}

/* Candy Corn */
.candycorn, h1.candycorn.post-title a {
	font-family: "Open Sans", sans-serif !important;
	background: repeating-linear-gradient(
		45deg,
		#fdfbda,
		#f66a3c 20px,
		#fbed21 60px
	);
	background-clip: text;
	color: transparent !important;
	-webkit-background-clip: text;
	animation: 32s linear 0s infinite move-colors;
}

.candycorn:hover, h1.candycorn.post-title a:hover {
	animation-duration: 10s;
}

/* Ectoplasm */
.ectoplasm, h1.ectoplasm.post-title a {
	text-shadow: 0 0 20px #3AE63A;
	font-family: 'Creepster' !important;
	color: #90ee90 !important;
	letter-spacing: 0.15em;
}

.ectoplasm.candycorn {
	color: transparent !important;
}

.ectoplasm.blood {
	font-family: 'DoubleFeature';
	letter-spacing: initial;
}

.ectoplasm.rainbow-text {
	color: #90ee90 !important;
	font-weight: initial;
}

/* Bones */
#bones-container {
	margin-top: -5%;
	position: absolute;
	z-index: 999;
	pointer-events: none;
	opacity: 0.9;
}

/* Pumpkin */
@keyframes fall-pumpkins-fall {
	0% {
		top: -20%
	}
	100% {
		top: 100%
	}
}

@keyframes fall-pumpkins-shake {
	0% {
		transform: translateX(0px)
	}
	50% {
		transform: translateX(80px)
	}
	100% {
		transform: translateX(0px) rotate(360deg);
	}
}

.fall-pumpkin {
	color: #fff;
	font-size: 1em;
	font-family: Serif;
	text-shadow: 0 0 1px #000;
	pointer-events: none;
	position: absolute;
	top: -20%;
	z-index: 999;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	animation-name: fall-pumpkins-fall, fall-pumpkins-shake;
	animation-duration: 10s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running
}

.fall-pumpkin img {
	width: min(60px, 13vw) !important;
}

.fall-pumpkin:nth-of-type(1) {
	left: 10%;
	animation-delay: 1s, 1s
}
.fall-pumpkin:nth-of-type(2) {
	left: 20%;
	animation-delay: 6s, .5s
}
.fall-pumpkin:nth-of-type(3) {
	left: 30%;
	animation-delay: 4s, 2s
}
.fall-pumpkin:nth-of-type(4) {
	left: 40%;
	animation-delay: 2s, 2s
}
.fall-pumpkin:nth-of-type(5) {
	left: 50%;
	animation-delay: 8s, 3s
}
.fall-pumpkin:nth-of-type(6) {
	left: 5%;
	animation-delay: 1s, 4s
}
.fall-pumpkin:nth-of-type(7) {
	left: 15%;
	animation-delay: 1s, 1.5s
}
.fall-pumpkin:nth-of-type(8) {
	left: 25%;
	animation-delay: 6s, 2.5s
}
.fall-pumpkin:nth-of-type(9) {
	left: 35%;
	animation-delay: 4s, 1s
}
.fall-pumpkin:nth-of-type(10) {
	left: 45%;
	animation-delay: 2s, 4s
}

.animate-spin {
	animation: spin 5600ms linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Trick or Treat */
#trick-or-treat {
	font-family: Jo_wrote_a_lovesong;
	font-size: 2rem;
	letter-spacing: 0.5rem;
	border-color: var(--primary) !important;
}

#trick-or-treat::before {
	content: "";
	background-image: url('/e/marseyface.webp'); ;
	background-size: cover;
	height: 28px;
	width: 32px;
	display: inline-block;
}

#trick-or-treat::after {
	content: "";
	background-image: url('/e/marseytrickortreat.webp'); ;
	background-size: cover;
	height: 28px;
	width: 32px;
	display: inline-block;
}

#jumpscare-img {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	object-fit: cover;
	pointer-events: none;
  }

/* progressbar */
.progress {
	position: relative;
	background-color: #1d9bf0;
	background-image: linear-gradient(0deg, #1d9bf0 0%, #59b1ec 100%);
	max-width: 95vw;
	height: 24px;
	border-radius: 4px;
	box-shadow: inset 0px 12px 2px #ffffff10;
	backdrop-filter: blur(2px) brightness(101%);
	margin-bottom: 40px;
}

.progress::before {
	content: "\f48e";
	font-family: "Font Awesome 6 Pro";
	position: absolute;
	left: 6px;
	top: 2px;
	font-size: 13px;
	color: #fff;
}
.progress::after {
	content: "\f780";
	font-family: "Font Awesome 6 Pro";
	position: absolute;
	right: 6px;
	top: 2px;
	font-size: 13px;
	color: #fff;
}

.progress > .legend {
	display: flex;
	justify-content: space-between;
	margin-top: 6px;
	padding: 0 6px;
	color: #dc3545;
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
	font-size: 12px;
	font-weight: bold;
}

.progress > .legend span:nth-child(1) {
	color: #d3bc00;
}

.bar-left {
	display: inline-block;
	width: var(--width);
	height: 24px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #d3bc00;
	background-image: linear-gradient(180deg, #d3bc00 50%, #877800 100%);
	box-shadow: inset 0px 12px 2px #ffffff20;
	color: white;
	text-align: center;
}

.bar-right {
	display: inline-block;
	width: var(--width);
	height: 24px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #dc3545;
	background-image: linear-gradient(180deg, #dc3545 50%, #9e1b32 100%);
	box-shadow: inset 2px 12px 0px #ffffff20;
	color: white;
	text-align: center;
	position: absolute;
	right: 0;
}

#cursormarsey {
	background-image: url('/assets/events/homoween/images/cursormarsey.webp?x=7') !important;
}

.post-flair {
	padding-top: 5px !important;
}

.has_header {
	padding-top: 79.54px !important
}
@media (max-width: 768px) {
	.has_header {
		padding-top: 65.8px !important
	}
}
#chat {
	height: calc(100dvh - 79.54px - 2rem)
}

#effigy {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	width: 120px;
	top: 230px;
}

@media (max-width: 768px) {
	#effigy {
		width: 80px;
		top: 110px;
	}	
}

@media (min-width: 1000px) {
	#logo-WPD {
		width: 70px;
	}
}

blockquote {
	background-color: #000000;
}