@charset "UTF-8";
:root {
	--dark: #3E2C18;
	--secondary: #FFE;
	--white: #F1E7D0;
	--black: #433434;
	--light: #FFE;
	--muted: #AA9881;
	--gray: #AA9881;
	--gray-100: #817261;
	--gray-200: #433434;
	--gray-300: #433434;
	--gray-400: #AA9881;
	--gray-500: #F0E0D6;
	--gray-600: #FFE;
	--gray-700: #F0E0D6;
	--gray-800: #F0E0D6;
	--gray-900: #F0E0D6;
	--background: 240, 224, 214;
}

.text-muted {
	color: var(--black) !important;
}

.text-white {
	color: var(--primary) !important;
}

.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	color: var(--black);
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
	background-color: #bda78e !important;
}

html * {
	font-family: arial, helvetica, sans-serif;
	color: #800000
	}
body, #main-content-col {
	background-color: var(--secondary) !important;
	}
.border-right, .border-left, .border-top, .border-bottom, .border {
	border-color: #D9BFB7 !important
	}
.card-header {
	border-color: #D9BFB7 !important
	}
.post-title a {
	color: #cc1105 !important;
	}
.comment, .card {
	background-color: var(--secondary) !important;
	border-color: #D9BFB7 !important;
	}
.form-control {
	border-color: #D9BFB7 !important;
	}
.post-actions *:hover, .comment-actions *:hover, .comment-actions .copy-link:hover {
	color: #F00 !important
	}
a {
	color: #00e;
}

blockquote p {
	color: #789922 !important;
}

.transparent {
	background: none !important;
}

.btn {
	color: var(--primary) !important;
}

#profilestuff > * {
	color: #cfcfcf !important;
}

.comment {
	background-color: rgb(var(--background)) !important;
}

.navbar-light, .navbar .container-fluid, #mobile-bottom-navigation-bar {
	background: #ffe url(/i/4chan.webp);
	background-size: contain;
}

blockquote {
	background-color: #ddd;
	border-color: #789922 !important;
	border-width: 1px !important;
}

blockquote a {
	color: navy;
}

.comment-collapse-line {
	border-color: maroon !important;
	border-width: 1px !important;
}

.score-up, .active.arrow-up::before, .arrow-up::after, .arrow-up:hover::before {
	color: maroon !important;
}

.score-down, .active.arrow-down::before, .arrow-down::after, .arrow-down:hover::before {
	color: maroon !important;
}

.arrow-up::before, .arrow-down::before, .score {
	color: var(--gray-400);
}

.srd {
	background-color: rgb(var(--background)) !important;
}

.srd a {
	color: maroon !important;
}

:root {
	--primary: maroon;
}

.caction {
	color: var(--gray-400) !important;
}

.user-name span {
	color: #117743 !important;
}

.sidebar
{
	border-radius: 6px;
	margin-top: 6px;
}

.visited, h5.post-title a:not(.effortpost-flair):visited, a[href^="https://"]:not([href^="https://rdrama.net" i], [href^="https://watchpeopledie.tv" i], [href^="https://redscarepod.net" i], .dropdown-item, .nav-link, .novisited):visited {
	color: #949494 !important;
}

.comment-actions > *, .post-actions > * {
	color: var(--gray-500) !important;
}

.spoiler, spoiler {
	background-color: black !important;
}

.unread {
	background: #fdccad !important;
}

#header--icon:not([alt^="/h/"]) {
	content: url(/i/4chan_icon.webp);
	height: 40px;
	-webkit-filter: drop-shadow(1px 1px 0 black)
	drop-shadow(-1px -1px 0 black);
	filter: drop-shadow(1px 1px 0 black) 
	drop-shadow(-1px -1px 0 black);
}

#logo-WPD {
	content: url(/i/4chan_logo_WPD.webp);
	height: 50px;
	width: auto;
	float: left;
}

span.mod {
	color: #fff !important;
}

.hole-flair {
	background-color: maroon !important;
}

body {
	font-family: arial,helvetica,sans-serif !important; 
	font-size: 10pt !important;
}

span.patron {
	color: #fff !important;
}

.btn {
	color: maroon !important;
	border-color: maroon !important;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid maroon;
}

span {
	color: maroon !important;
}

.post-title a {
	color: #cc1c06 !important;
}

textarea {
	color: #fff;
}

button {
	color: maroon !important;
}

.sidebar-wpd--holes a {
	padding: 5px 5px 4px;
	text-align: center;
	color: var(--muted);
	background-color: rgb(var(--background));
	box-shadow: 0 0 0 1px maroon !important;
}

.notif-count {
	color: #fff !important;
}

.navbar-light, .navbar .container-fluid, #mobile-bottom-navigation-bar {
	background: #ffe9cb url(/i/4chan_navbar.webp) !important;
	background-size: contain;
}

.srd {
	background-color: #ffe9cb !important;
	color: maroon !important;
}

.navbar-light {
	background-color: #ffe9cb !important;
	box-shadow: 0 0px 0px #ffe9cb, 0 0 0px #ffe9cb !important;
}

a {
	color: maroon !important;
}

.video-play {
	background-color: maroon !important;
}

i.fas.fa-infinity.mr-2 {
	color: maroon !important;
}

i.fas.fa-sparkles.mr-1 {
	color: maroon !important;
}

i.fas.fa-feather-alt i.fas.fa-bell i.fas.fa-music i.fas.fa-trophy i.fas.fa-comment-dots i.fas.fa-cards i.fas.fa-store {
	color: maroon !important ;
}

.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	color: maroon !important;
}

.award-name {
	color: maroon !important;
}

.container {
	background: #ffffee !important;
}

.active-hole {
	background-color: #f7eae1 !important;
}

@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 10px;
	}
}
