:root {
	color-scheme: dark;
	--muted: #999;
	--black: #999;
	--background: 34, 34, 34;
}

#inline-carot-modal .inline-modal-option {
	background-color: rgb(var(--background));
}

#inline-carot-modal .inline-modal-option:hover, #inline-carot-modal .inline-modal-option:focus, #inline-carot-modal .inline-modal-option.selected {
	background-color: #444444;
}

.unread {
	background-color: #3d3d3d !important;
}

lite-youtube, iframe {
	color-scheme: light !important;
}
