:root {
	color-scheme: dark;
	--muted: #999;
	--black: #999;
	--background: 34, 34, 34;
}

#inline-carot-modal .inline-modal-option {
	background-color: rgb(var(--background));
}

#inline-carot-modal .inline-modal-option:hover, #inline-carot-modal .inline-modal-option:focus, #inline-carot-modal .inline-modal-option.selected {
	background-color: #444444;
}

.unread {
	background-color: #3d3d3d !important;
}

lite-youtube, iframe {
	color-scheme: light !important;
}

.gold-text:not(a), h1.gold-text.post-title a, :not(td) > a[href="/h/highrollerclub"]:not(.hole-flair) {
	background: repeating-linear-gradient(
		45deg,
		gold,
		#debd00 20px,
		#cdae00 60px
	);
}

:not(td) > a[href="/h/highrollerclub"].hole-flair {
	background: repeating-linear-gradient(
		45deg,
		gold,
		#debd00 20px,
		#cdae00 60px
	);
}

code {
    color: #f679b2;
}

.dataTables_wrapper .dataTables_length select {
    background-color: black !important;
}
