@charset "UTF-8";

:root {
	color-scheme: dark;
	--dark: #383838;
	--secondary: #383838;
	--white: #E1E1E1;
	--black: #CFCFCF;
	--light: #000000;
	--muted: #E1E1E1;
	--gray: #383838;
	--gray-100: #E1E1E1;
	--gray-200: #E1E1E1;
	--gray-300: #383838;
	--gray-400: #262b32;
	--gray-500: #000000;
	--gray-600: #000000;
	--gray-700: #000000;
	--gray-800: #000000;
	--gray-900: #000000;
	--background: 0, 0, 0;
}

* {
	border-color: var(--primary);
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
}

.form-control:disabled, [readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: none !important;
}



.sidebar
{
	border-radius: 6px;
	margin-top: 6px;
}

.modal-content {
	background-color: var(--gray-900);
}

.modal .comment-actions .list-group-item {
	background-color: var(--light);
}

#frontpage .posts .card, #userpage .posts .card, #search .posts .card {
	border-color: #101010;
}

.visited, h5.post-title a:not(.effortpost-flair):visited, a[href^="https://"]:not([href^="https://rdrama.net" i], [href^="https://watchpeopledie.tv" i], [href^="https://redscarepod.net" i], .dropdown-item, .nav-link, .novisited):visited {
	color: #7a7a7a !important;
}

[disabled], .disabled, button[disabled], .btn[disabled], button.disabled, .btn.disabled, .disabled:before {
	color: #bbb !important;
}

*:target {
	background: rgba(var(--primary_rgb), 0.2) !important;
}

.modal .comment-actions .list-group-item:focus, .modal .comment-actions .list-group-item:hover {
	background-color: #323338 !important;
}

@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 10px;
	}
}
