@charset "UTF-8";


:root {
	--dark: #c7c7c7;
	--secondary: #c7c7c7;
	--gray: #c7c7c7;
	--gray-300: #c7c7c7;
	--gray-400: #cfcfcf;
	--gray-500: #ffffff;
	--gray-600: #ffffff;
	--gray-700: #ffffff;
	--gray-800: #ffffff;
	--gray-900: #ffffff;
	--light: #ffffff;
	--muted: #1e1e1e;
	--gray-100: #1e1e1e;
	--gray-200: #1e1e1e;
	--white: #1e1e1e;
	--black: #262b32;
	--background: 255, 255, 255;
}

* {
	border-color: var(--primary);
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: rgb(var(--background));
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
}

.form-control:disabled, [readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: none !important;
}

blockquote {
	background-color: #bbbbbb;
}

#profilestuff > * {
	color: var(--gray-400) !important;
}

.unread {
	background: #dddddd !important;
}

*:target {
	background: rgba(var(--primary_rgb), 0.2) !important;
}

.visited, h5.post-title a:not(.effortpost-flair):visited, a[href^="https://"]:not([href^="https://rdrama.net" i], [href^="https://watchpeopledie.tv" i], [href^="https://redscarepod.net" i], .dropdown-item, .nav-link, .novisited):visited {
	color: #8a8a8a !important;
}

.award-name {
	color: var(--black);
}

@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 10px;
	}
}
